.category__block {
   cursor: pointer;
   border-radius: 10px;
   padding: 15px 0;
   display: block;
   width: 100%;

   .programmegrid__container--icon {
      width: 110px;
      margin-bottom: 110px;
   }

   &:hover {

      .categoryhome__title {
         a {
            color: white;
         }
      }

      .sv_button.health {
         box-shadow: 0px 0px 0px 2px palette(white);
         background-color: palette(white)!important;
         color: palette(health);
      }

      .sv_button.community {
         box-shadow: 0px 0px 0px 2px palette(white);
         background-color: palette(white)!important;
         color: palette(community);
      }

      .sv_button.advocacy {
         box-shadow: 0px 0px 0px 2px palette(white);
         background-color: palette(white)!important;
         color: palette(advocacy);
      }

   }
}
