//breadcrumb styles

.breadcrumb {

   &__wrapper {
      width: 100%;
      background-color: palette(blue, dark);
      height: 50px;
      position: absolute;
      bottom: 0px;

      &.voice {
         border-bottom: 1px solid palette(green);

         li {
            color: palette(white);
            font-weight: 100;
            font-size: 0.8rem;
         }

         .breadcrumb__wrapper--next .fa {
            margin-top: 0px;
         }
      }


      ul {
         list-style: none;
         margin-left: 0px;

         li {
            display: inline-block;
         }
      }

      &--unit {

         a {}

         .color {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            display: inline-block;
            margin: 0px 5px;

            &__health {
               background-color: palette(health);
            }

            &__education {
               background-color: palette(education);
            }

            &__kilisun {
               background-color: palette(kilisun);
            }

            &__community {
               background-color: palette(community);
            }

            &__standingvoices {
               background-color: palette(standingvoices);
            }

            &__advocacy {
               background-color: palette(advocacy);
            }
         }
      }

      &--center {
         width: 100%;
         text-align: center;
         margin-top: 13px;

         @media screen and (max-width: $break-small) {
            margin-top: 18px;
         }


         span {
            color: white;
            font-family:$proxima-font-family;
            font-size: 0.8rem;
            font-weight: bold;
            text-transform: uppercase;
         }
      }

      &--previous {

         float: left;
         margin-top: 13px;

         a {
            color: white;
            font-family:$proxima-font-family;
            font-size: 0.8rem;
            font-weight: bold;
            text-transform: uppercase;
         }
      }

      &--next {

         float: right;
         margin-top: 13px;

         a {
            color: white;
            font-family:$proxima-font-family;
            font-size: 0.8rem;
            font-weight: bold;
            text-transform: uppercase;
         }

         .fa {
            margin-top: 4px;
         }
      }

   }

}
