//ghost button styles

.sv_button {
   background: transparent none !important;
   color: rgba(0, 0, 0, 0.6);
   font-weight: normal;
   border-radius: 0.28571429rem;
   text-transform: uppercase;
   text-shadow: none !important;
   font-family:$proxima-font-family;
   font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0.85em 1.2em 0.7em;
  display: block;
  text-align: center;
  line-height: 16px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: color 0.15s ease-out;
 -moz-transition: color 0.15s ease-out;
 -ms-transition: color 0.15s ease-out;
 -o-transition: color 0.15s ease-out;
 transition: color 0.15s ease-out;
 -webkit-transition: background 0.15s linear;
 -moz-transition: background 0.15s linear;
 -ms-transition: background 0.15s linear;
 -o-transition: background 0.15s linear;
 transition: background 0.15s linear;
 cursor: pointer;

 &:hover {
    cursor: pointer;
 }

   &.green {
      box-shadow: 0px 0px 0px 2px palette(green);
      color: palette(green);
   }

   &.lightgreen {
      box-shadow: 0px 0px 0px 2px palette(green, light);
      color: palette(green, light);

      &:hover {
         background-color: palette(green, light)!important;
         color: palette(blue);
      }
   }

   &.white {
      box-shadow: 0px 0px 0px 2px palette(white);
      color: palette(white);

      &:hover {
         background-color: palette(white)!important;
         color: palette(blue);
      }
   }

   &.health {
      box-shadow: 0px 0px 0px 2px palette(health, light);
      color: palette(health, light);

      &:hover {
         box-shadow: 0px 0px 0px 2px palette(white);
         background-color: palette(white)!important;
         color: palette(health);
      }
   }

   &.advocacy {
      box-shadow: 0px 0px 0px 2px palette(advocacy, light);
      color: palette(advocacy, light);

      &:hover {
         box-shadow: 0px 0px 0px 2px palette(white);
         background-color: palette(white)!important;
         color: palette(advocacy);
      }
   }

   &.community {
      box-shadow: 0px 0px 0px 2px palette(community, light);
      color: palette(community, light);

      &:hover {
         box-shadow: 0px 0px 0px 2px palette(white);
         background-color: palette(white)!important;
         color: palette(community);
      }
   }



   &.blue {
      box-shadow: 0px 0px 0px 2px palette(blue);
      color: palette(blue);

      i {
         color: palette(blue);
      }

      &:hover {
         background-color: palette(blue)!important;
         color: palette(white);

         a, i {
            color: palette(white);
         }
      }


      &.round {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         padding: 10px 5px;

         box-shadow: 0px 0px 0px 2px palette(white);
         color: palette(blue);
         background-color: palette(green)!important;

         &:hover {
            background-color: palette(green, dark)!important;
         }

         .has-tip {
            border: none;
            cursor: pointer;
         }

         i {
            margin-left: 2px;
            margin-top: 2px;

            color: palette(white);
         }
      }

   }

   &.big {
      font-size: 1.38rem;
   }

   &.product {
      width: 50%;
      display: block;
      box-shadow: 0px 0px 0px 2px palette(blue, dark);
      color: palette(blue, dark);
      margin: 0 auto 50px;

      @media screen and (max-width: $break-small) {
         margin: 0 auto 25px;
      }

      &:hover {
         background-color: palette(blue)!important;
         color: palette(white);
      }
   }

   &::before {
      display: none; //remove animated lines
   }
}


.newsletter {

   .sv_button {
      width: auto;
      margin-top: -5px;
      border-radius: 0.28571rem!important;
      border: none;

      &:hover {
         background-color: palette(white)!important;
         color: palette(pink);
      }
   }

   input.sv_input {
      -webkit-text-fill-color: white !important;
   }

   input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

}

.svparallax {

   .sv_button {
     display: block;
     width: auto;
     width: 135px;
     margin: auto;

     &.touch {
        width: 165px;
     }
   }

}


.fundheader {
   .sv_button {
      width: 250px;
      margin-top: 30px;

      @media screen and (max-width: $break-small) {
         margin: 30px auto 0;
      }
   }
}
