//case studies styles

.casestudies {

   &__container {

      img, svg {
         margin: 20px auto;
         display: block;
      }

      img {
         cursor: pointer;
      }


      svg.advocacy path {
         fill: palette(advocacy);
      }

      svg.health path {
         fill: palette(health);
      }

      svg.community path {
         fill: palette(community);
      }

      svg.education path {
         fill: palette(education);
      }

      svg.standing-voices path {
         fill: palette(standingvoices);
      }

      svg.kilisun path {
         fill: palette(kilisun);
      }


      .sv_button {
         text-align: center;
          display: block;
          margin: auto;

          @media screen and (max-width: $break-small-medium) {
              padding: 0.75em 0.8em 0.7em;

              i {
                 display: none;
              }
          }

      }

      p {
         text-align: center;
         font-size: 0.9rem;
      }

      &--image {
         height: 165px;
         width: 165px;
         -moz-border-radius: 50%;
         -webkit-border-radius: 50%;
         border-radius: 50%;
         z-index: 1;
         background-color: palette(blue, dark);
         overflow: hidden;
         position: absolute;
         top: 39px;
         left: 50%;
         margin-left: -82px;

         // @media screen and (max-width: $break-small-medium) {
         //    height: 140px;
         //    width: 140px;
         //    margin-left: -70px;
         // }

         img {
            min-width: 130%;
            margin-left: -20%;
            margin-top: 0%;
         }
      }

   }

}




.voices {

   .casestudies__container--image {
      height: 205px;
      width: 205px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: 37px;
      left: 71px;
   }

}
