//causes - donation products


.causes {

   &__wrapper {
      position: relative;
      margin-top: 50px;

      @media screen and (max-width: $break-small) {
          margin-top: 1.25rem;
      }
   }

   &__container {
      @include widthroom();

      @media screen and (max-width: $break-small) {
         padding-left: 0rem;
         padding-right: 0rem;
        }
   }

   &__type {
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: relative;
      overflow: hidden;

      &--image {
         width: 100%;
         margin-bottom: 20px;
      }

      &--price {
         height: 67px;
         width: 67px;
         border-radius: 50%;
         background-color: palette(red);
         position: absolute;
         right: 10px;
         margin-top: -70px;
         font-family:$proxima-font-family;
         color: palette(white);
         padding: 14px 9px;
         font-size: 22px;
         font-weight: bold;
         line-height: 43px;
         text-align: center;
      }

      &--title {
         width: 100%;
         height: 55px;
         background-color: palette(blue);
         color: white;
         font-size: 1.1rem;
         font-family:$proxima-font-family;
         font-weight: bold;
         text-transform: uppercase;
         padding: 15px;
         text-align: center;
         position: absolute;
         top: 0px;

         -webkit-border-top-left-radius: 5px;
         -webkit-border-top-right-radius: 5px;
         -moz-border-radius-topleft: 5px;
         -moz-border-radius-topright: 5px;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
      }

      &--info {
         p {
            text-align: center;
            font-size: 0.9rem;

            @media screen and (max-width: $break-small) {
               font-size: 1rem;
            }

         }
      }

   }

}




.donatecontext {

   &__wrapper {

      height: 80%;
      padding: 10%;
      width: 100%;
      background-color: palette(education);
      -webkit-border-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -moz-border-radius: 5px;
      -moz-border-radius-topleft: 5px;
      border-radius: 5px;
      border-top-left-radius: 5px;
      position: relative;

      &--image {
         height: 120px;
         width: 120px;
         display: block;
         margin: auto;
         border-radius: 50%;
         overflow: hidden;
         position: absolute;
         top: 0px;
         left: 50%;
         margin-left: -60px;
         margin-top: -60px;

         img {
            min-width: 130%;
            margin-left: -20%;
         }
      }

      &--header {
         color: palette(white);
         text-align: center;
         margin: 20px auto;
         text-transform: uppercase;

         @media screen and (max-width: $break-small) {
            margin-top: 55px;
         }
      }

      &--copy {
         color: palette(white);
         text-align: center;
      }

   }

}


.poundsign {
   &:before {
      content: '£';
      display: block;
      font-size: 18px;
      color: palette(white);
      position: absolute;
      margin-top: 10px;
      font-family:$proxima-font-family;
      font-weight: bold;
   }
}



.donationideas {

   .sv_button.product {
      width: 35%;

      @media screen and (max-width: $break-small) {
         font-size: 1rem;
         width: 55%;
      }
   }

   h4 {
      text-transform: uppercase;
      font-size: 2rem;
      margin-top: 90px;
      text-align: center;

      @media screen and (max-width: $break-small) {
         margin-top: 45px;
      }
   }

   img {
      display: block;
      margin: 30px auto 0;
      width: 60px;
   }

   &--copy {
      font-size: 1.2rem;
      text-align: center;
      margin-top: 90px;
      margin-bottom: 30px;

      @media screen and (max-width: $break-small) {
         margin-top: 30px;
      }
   }

}
