//events

.events {

   &__wrapper {

      h2 {
         color: palette(white);
         text-transform: uppercase;
         margin-top: 5%;
      }

   }

}

.datelist {

   list-style: none;
   padding: 0px;
   margin: 20px 0px;

   li {
      margin-bottom: 0px;

      &:after {
         height: 40px;
         width: 2px;
         background-color: palette(white);
         content: "";
         display: block;
         margin-left: 27%;
      }

      &:last-child {
         &:after {
            display: none;
         }
      }
   }


   &__container {

      border: 2px solid palette(white);
      border-radius: 5px;
      height: 100px;
      width: 100px;

      @media screen and (max-width: $break-small) {
         height: 70px;
         width: 70px;
         margin-bottom: 30px;
         margin-top: 0px;
      }


      &--month {
         text-transform: uppercase;
         color: palette(white);
         text-align: center;
         font-family:$proxima-font-family;
         font-weight: bold;
         font-size: 0.9rem;
         letter-spacing: 2px;
         width: 100%;
         display: block;
         padding-top: 10px;

         @media screen and (max-width: $break-small) {
            font-size: 0.8rem;
         }
      }

      &--day {
         text-transform: uppercase;
         color: palette(green, light);
         text-align: center;
         font-size: 3rem;
         font-weight: 100;
         width: 100%;
         display: block;
         line-height: 55px;

         @media screen and (max-width: $break-small) {
            font-size: 2.3rem;
            line-height: 25px;
         }
      }

   }

}




.datecontent {

   list-style: none;
   margin-left: 0px;

   li {
      margin: 2.8% 0 6.2%;
   }

   &__container {

      @media screen and (max-width: $break-small) {
         display: table;
      }

      &--mobile {
         @media screen and (max-width: $break-small) {
            display: table-cell;
         }
      }

      .datelist {
         margin-right: 1rem;
         margin-left: 0;
         margin-top: 0px;

         @media screen and (max-width: $break-small) {
            display: table-cell;
         }
      }

      &--title {
         font-family:$proxima-font-family;
         font-weight: bold;
         font-size: 1.2rem;
         color: palette(green, light);
         margin-bottom: 5px;
      }

      &--desc {
         font-size: 0.9rem;
      }

   }

}


.fundplan {

   img {
      margin: auto;
      display: block;
      width: 33%;
      margin-top: 16%;

      @media screen and (max-width: $break-medium-large) {
         width: 12rem;
         margin-top: 16%;
      }

      @media screen and (max-width: $break-medium) {
         width: 12rem;
         margin-top: 27%;
      }

      @media screen and (max-width: $break-small-medium) {
         width: 10rem;
         margin-top: 32%;
      }

      @media screen and (max-width: $break-small) {
         width: 12rem;
         margin-top: 13%;
      }
   }

   h4 {
      text-transform: uppercase;
      font-size: 2rem;
      margin-top: 70px;

      @media screen and (max-width: $break-small) {
         text-align: center;
         margin-top: 30px;
      }
   }

   p {
      @media screen and (max-width: $break-small) {
         text-align: center;
      }
   }

   .sv_button {
      width: 210px;
      float: left;

      @media screen and (max-width: $break-small) {
         float: none;
         margin: 0px auto 40px;
      }
   }

}


.fundheader {

   min-height: 400px;
   border-bottom: 20px solid palette(green);
   overflow: hidden;

   padding: 5% 0;

   h2 {
      position: absolute;
      z-index: 2;
      width: 87%;
      font-size: 2.8rem;
      line-height: 3.2rem;

      @media screen and (max-width: $break-large) {
         font-size: 2.4rem;
         line-height: 3rem;
      }

      @media screen and (max-width: $break-medium) {
         position: relative;
         font-size: 2.2rem;
         line-height: 2.5rem;
         width: 100%;
         margin-bottom: 20px;
      }


   }

   p {
      font-size: 1.2rem;
      color: palette(blue);
   }

   span {
      font-family:$proxima-font-family;
      font-weight: bold;
      font-size: 21rem;
      color: #2fac7e;
      opacity: 0.2;
      position: absolute;
      z-index: 0;
      margin-top: -15%;
      line-height: 21rem;
      left: -10%;
      letter-spacing: -20px;
   }
}


.fundtype {



   &__wrapper {

      &--title {

         border-top: 1px solid palette(green);
         margin-top: 20px;

         &.first {
            border-top: none;
            margin-top: 0px;
         }

         h2 {
            color: palette(green);
            text-align: center;
            text-transform: uppercase;
            margin-top: 50px;
         }

         p {
            font-size: 1.1rem;
            text-align: center;
            margin: 30px 10%;

            @media screen and (max-width: $break-medium) {
               margin: 20px 5%;
            }
         }

      }

      &--name {

         p {
            font-weight: 100;
            color: palette(green);
            font-size: 1.3rem;
         }

         p {
            &:first-child {
               color: palette(green);
               text-transform: uppercase;
               font-weight: bold;
               font-family:$proxima-font-family;
               font-size: 1.6rem;
               margin-bottom: 0px;
               padding-top: 20px;
               border-top: 4px solid palette(green);
               margin-top: 10px;

               &:before {
                  content: "";
                  display: block;
                  width: 60%;
                  height: 4px;
                  position: absolute;
                  background-color: palette(green);
                  margin-top: -24px;
                  left: -50%;
               }
            }
         }

      }

      &--quote {

         p {
            font-weight: bold;
            font-style: italic;
         }

      }

      .ltr {

         margin-top: 50px;

      }

      .rtl {

         margin-top: 50px;

         .fundtype__wrapper--name p:first-child:before {
            right: -50%;
            left: inherit;
         }

         p {
            text-align: right;
         }

      }

      .row {
         &:last-child {
            margin-bottom: 30px;
         }
      }

   }

}
