//footer styles
.footer {

   &__container {
      @include widthroom();
   }

   label {
      color:palette(green);
      font-family:$proxima-font-family;
      font-weight: bold;
      text-align: center;
      font-size: 1rem;
   }

   select {
      margin: 5px auto 25px;
   }

   .section {
      height: auto;

      @media screen and (max-width: $break-large) {
         height: auto;
         min-height: auto;
         padding-bottom: 40px;
      }

      &__smlprint {
         background-color: palette(blue, dark);
         min-height: 65px;
         height: 65px;

         @media screen and (max-width: $break-small) {
            height: 90px;
         }
      }
   }

   &__list {
      width: 100%;
      margin: 0px;
      padding: 0px;
      list-style: none;

      &--item {
         width: 100%;
         text-align: right;
         margin-bottom: 5px;

         &.disabled {
            a {
               cursor: default;
               opacity: 0.4;
            }
         }

		  @media screen and (max-width: $break-medium-large) {
			  text-align: center;
		  }

         @media screen and (max-width: $break-small) {
            display: inline-block;
            text-align: center;
            width: 32.6%;
            line-height: 18px;
         }

         a {
            text-align: right;
            color: palette(white);
            font-size: 0.9rem;
         }
      }

      &--header {
         text-align: right;
         color:palette(green);
         font-family:$proxima-font-family;
         font-weight: bold;

		  @media screen and (max-width: $break-medium-large) {
			  text-align: center;
		  } 

         @media screen and (max-width: $break-small) {
            text-align: center;
            width: 100%;
         }

         &.address {
            padding-right: 15px;

            @media screen and (max-width: $break-small) {
               padding-right: 0px;
            }

            @media screen and (max-width: $break-large) {
               padding-right: 5px;
            }
			 
				&:after {
					content: "";
					display: block;
					height: 145px;
					width: 1px;
					background-color: white;
					float: right;
					margin-top: 3px;
					margin-left: 40px;
				 
				
               @media screen and (max-width: $break-large) {
                  margin-left: 20px;
               }

			@media screen and (max-width: $break-medium-large) and (min-width: $break-small){
				display: none;
			}
				
               @media screen and (max-width: $break-small) {
                  margin: 10px 0px;
                  width: 100%;
                  height: 1px;
                  float: none;
               }
            }
         }
      }

   }
	
   p {
      color: palette(white);
      margin-bottom: 15px;
   }

   &__address {
	   
	   &--container {
		   @media screen and (min-width: $break-small) and (max-width: $break-medium-large) {
			   margin-top: 2rem;
			   padding-top: 2rem;
			   border-top: 1px solid white;
		   }
	   }

      &--name {
         font-family:$proxima-font-family;
         font-weight: bold;
         font-size: 0.9rem;
      }

      p:last-child {
         font-size: 0.9rem;
      }

      &:first-child {
         @media screen and (max-width: $break-small) {

            p {
               text-align: center;
            }

         }
      }

   }

}

.newsletter {
   margin-top: -50px;
}

.mark {
   padding-top: 100px;
   padding-bottom: 50px;

   @media screen and (max-width: $break-small) {
      padding-top: 12%;
      padding-bottom: 8%;
   }

   &__container {
      width: 100%;

      img {
         display: block;
         margin: auto;
         width: 100px;
      }
   }

}

.social {

   &__wrapper {
      list-style: none;
      margin: 5px auto 7%;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-content: stretch;
	  align-items: flex-start;

      @media screen and (max-width: $break-small) {
         width: 100%;
      }

      li {
         display: inline-block;
         margin-right: 20px;

         a {
            display: inline-block;
            line-height: 25px;
		   	font-size: 0;

            @media screen and (max-width: $break-small) {
               display: block;
            }
         }

         @media screen and (max-width: $break-small) {
            margin-right: 0px;
            width: 32.6%;
         }

         &:last-child {
            margin-right: 0px;
         }
      }

      a {
         color: palette(white);
         font-size: 0.8rem;

         @media screen and (max-width: $break-small) {

            span {
               display: none;
            }

         }

         .fa {
             margin: 3px 8px 0 0;
             font-size: 2rem;
             display: block;
             float: left;
             font-weight: normal;

             @media screen and (max-width: $break-small) {
                float: none;
                width: 100%;
                text-align: center;
             }
         }
      }
	 
	 .icon-rectangle-landscape {
	   margin-top: 2px;
	   font-size: 2.1rem;
	 }
   }
}

.finallist {
   text-align:center;
   padding-top: 20px;
   margin-left: 0px;

   &--item {
      display: inline;
      margin: 0px 5px;
      text-align: center;
      color: palette(white);
      font-size: 0.8em;

      @media screen and (max-width: $break-small) {
         font-size: 0.7rem;
      }

      a {
         color: white;
      }
   }

   &--divider {
      i {
         font-size: 4px;
         vertical-align: middle;
      }
   }

}
