//forms
input[type="text"], input[type="number"], span.prefix {
   background-color: transparent;
   border: none;
   border-bottom: 1px solid white;
   font-size: 1rem;
   color:palette(green);
   font-family:$proxima-font-family;
   font-weight: bold;
   padding-left: 0px;
   box-shadow: none;
   outline: none;

   &::-webkit-input-placeholder { color:palette(white); }
   &::-moz-placeholder { color:palette(white); } /* firefox 19+ */
   &:-ms-input-placeholder { color:palette(white); } /* ie */
   &:-moz-placeholder { color:palette(white); }

   &:focus {
      background-color: transparent;
      border:none;
      border-bottom: 1px solid white;
      color: palette(white);
   }
}

input[type="number"][disabled] {
   color: rgba(255, 255, 255, 0.7);
   background-color: transparent;
}

.stripeform {

   h1 {
      color: palette(white);
      width: 100%;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
      margin: 0px auto 30px;

      @media screen and (max-width: $break-small) {
         margin-top: 10px;
      }
   }

   .divider {
      height: 12px;
      width: 1px;
      display: block;
      background-color: palette(white);
      position: absolute;
      bottom: 30px;
      right: 0px;

      @media screen and (max-width: $break-small) {
         display: none;
      }
   }

   span.currency {
      font-family: $proxima-font-family;
      font-weight: bold;
      position: absolute;
      top: 5px;
      left: 20%;
      color: palette(white);
      opacity: 0.8;
   }

   input[type="number"], span.prefix {
      font-size: 2rem;
      color: palette(white);
      text-align: center;
      padding: 0px 0px 0px;
      margin-bottom: 30px;
      height: 44px;
      line-height: 30px;

      &::-webkit-input-placeholder { color:palette(white); }
      &::-moz-placeholder { color:palette(white); } /* firefox 19+ */
      &:-ms-input-placeholder { color:palette(white); } /* ie */
      &:-moz-placeholder { color:palette(white); }
   }

   .sv_button.big {
      width: 210px;
      margin: 30px auto;

      @media screen and (max-width: $break-small) {
         margin-bottom: 100px;
      }
   }

   input[type="checkbox"] {
      float: right;
      margin-top: 4px;
   }

   label {
      color: palette(white);
      font-size: 1rem;
   }

  .donation-error {
	color: palette(white);
	text-align: center;
	font-family:$proxima-font-family;
  }
  
  .recaptcha-text {
	color: palette(white);
	text-align: center;
	font-family:$proxima-font-family;
  }

}
