//header

@mixin headercontent($lightcolor) {

   img {
        margin: 7% auto 3%;
        width: 110px;
        display: block;

        @media screen and (max-width: $break-small) {
           margin: 12% auto 6%;
           width: 95px;
        }

        @media screen and (max-width: $break-extra-small) {
           margin: 12% auto 6%;
           width: 85px;
        }
   }

   h1 {
      text-align: left;
      color: $lightcolor;
      font-size: 2.2rem;

      text-transform: uppercase;
      text-align: center
   }

   h2 {
      text-align: left;
      color: $lightcolor;

      font-family: $body-font-family;
      font-weight: normal;
      font-size: 1.2rem;
      margin-top: 17%;
   }

}



.header {

   position: relative;
   width: 100%;

   &__fullbleed {
      height: 82vh; //was 94 without banner
       min-height: 600px;
      background: url(../img/homepage_hero-2.jpg);
      background-size: cover;
	   background-position-x: right;

      @media screen and (max-width: $break-phone) {
         background-position-x: -86%;
      }

	   @media screen and (max-width: $break-small-phone) {
		   background-position-x: -75%;
	   }

	   @media screen and (max-width: $break-extra-small) {
		   background-position-x: -70%;
	   }

      .socialheader__wrapper {
         background-color: transparent;
      }
   }


   &__default {
      height: 450px; //change to rems

      @media screen and (max-width: $break-small) {
         height: 28rem;
      }

      background-color: palette(blue);
   }

   &__parallax {
      height: 450px; //change to rems

      @media screen and (max-width: $break-small) {
         height: 280px;
      }

      background-color: transparent;
   }

   &__donations {
      height: 520px;
      background-color: palette(blue);

      @media screen and (max-width: $break-small) {
          height: auto;
       }
   }


   &__category {
      height: 20rem;
      background-color: palette(blue);

      @media screen and (max-width: $break-small) {
          height: 16rem;
      }

      .headertype {
         height: 75%!important;

         &__category {

            height: 60%!important;

            @media screen and (max-width: $break-small) {
                height: 140px!important;
            }

            @media screen and (max-width: $break-extra-small) {
                height: 120px!important;
            }

            .title__wrapper {
                margin-top: 70px!important;

                @media screen and (max-width: $break-small) {
                    margin-top: 50px!important;
                }

                @media screen and (max-width: $break-extra-small) {
                    margin-top: 45px!important;
                }
            }

            &--advocacy {

               //background-color: palette(advocacy, light)!important;
               background-color: palette(white)!important;;

               .title__container h1 {
                  color: palette(advocacy);
               }

            }

            &--community {

               //background-color: palette(community, light)!important;
               background-color: palette(white)!important;;

               .title__container h1 {
                  color: palette(community);
               }

            }

            &--health {

               //background-color: palette(health, light)!important;
               background-color: palette(white)!important;;

               .title__container h1 {
                  color: palette(health);
               }
            }

         }
      }
   }


   &__programme {
      height: 520px;
      background-color: palette(blue);

      @media screen and (max-width: $break-small) {
            height: 29rem;
      }

      .headertype {
         height: 75%!important;

          @media screen and (max-width: $break-small) {
               height: 79% !important;
          }

          @media screen and (max-width: $break-extra-small) {
                height: 76% !important;
          }

          &__advocacy img {

             @media screen and (max-width: $break-small) {
                   margin-top: 13% !important;
             }

          }


           &__kilisun img {

              @media screen and (max-width: $break-small) {
                    margin-top: 17% !important;
              }

           }

           &__community img {

            //  @media screen and (max-width: $break-small) {
            //       margin-top: 7% !important;
            //  }

          }
      }
   }

   &__carousel {
      height: 700px; //change to rems
      background-color: palette(blue);


      @media screen and (max-width: $break-medium) {
            height: 35rem;
      }

      @media screen and (max-width: $break-small-medium) {
            height: 31rem;
      }

      @media screen and (max-width: $break-small) {
            height: 30rem;
      }


   }

   &__fixed {
      padding: 20px 0px 30px;
      height: 80px;
      position: absolute;
      top: 25px; //was 120px
      width: 100%;
      z-index: 999;
   }

   &__donate {
      height: 130px;

      @media screen and (max-width: $break-small) {
         height: 88px;
      }

      background-color: palette(blue);

   }

   .headertype {

      position: absolute;
      width: 100%;
      bottom: 0px;
      background-color: palette(blue);
      height: 88%;

      @media screen and (max-width: $break-small) {
         height: 105%;
      }

      overflow: hidden;

      .title__wrapper {
         margin-top: 170px;

		  @media screen and (max-width: $break-medium) {
			  margin-top: 10rem;
		  }

         @media screen and (max-width: $break-small) {
             margin-top: 5rem;
         }
      }

      &__parallax {
         background-color: transparent;
         height: 100%;

         h1 {
            color: palette(green, light);
         }

         .row {
            background-color: transparent;
            position: absolute;
            z-index: 9;
            max-width: 100%;
            width: 100%;
         }

         .title__wrapper {
            margin-top: 220px;

            @media screen and (max-width: $break-small) {
               margin-top: 12rem;
            }
         }
      }


      &__donate {
         background-color: palette(red);
         height: 75%;

         @media screen and (max-width: $break-small) {
            height: auto;
            position: relative;
            margin-top: 90px;
         }

         h1 {
            text-align: left;
            color: palette(white);

            @media screen and (max-width: $break-small) {
                text-align: center;
            }
         }

         h2 {
            text-align: left;
            color: palette(white);
            margin: 0px;

            @media screen and (max-width: $break-small) {
                text-align: center;
            }
         }

         .title__wrapper {
            margin-top: 18%;

            @media screen and (max-width: $break-small) {
                margin-top: 9%;

                h1 {
                   margin-bottom: 10px;
                }
            }
         }
      }



      &__health {
         background-color: palette(health);

         @include headercontent(palette(health, light));
      }

      &__education {
         background-color: palette(education);

         @include headercontent(palette(education, light));
      }

      &__kilisun {
         background-color: palette(kilisun);

         @include headercontent(palette(kilisun, light));
      }

      &__community {
         background-color: palette(community);

         @include headercontent(palette(community, light));

         img {
            width: 125px;

            @media screen and (max-width: $break-small) {
               width: 105px;
            }

            @media screen and (max-width: $break-extra-small) {
               width: 95px;
            }
         }

      }

      &__standingvoices {
         background-color: palette(standingvoices);

         @include headercontent(palette(standingvoices, light));
      }

      &__advocacy {
         background-color: palette(advocacy);

         @include headercontent(palette(advocacy, light));
      }


      &__fullbleed {
         background-color: transparent;
      }

      &__carousel {

         height: 82%;

         @media screen and (max-width: $break-medium) {
            height: 31rem;
         }

         @media screen and (max-width: $break-small-medium) {
            height: 25rem;
         }

         @media screen and (max-width: $break-small) {
            height: 25rem;
         }

         .row {

            &:first-child {
               position: absolute;
               z-index: 9;
               top: 12%;
               max-width: 100%;
            }

         }

      }

   }

}


@media screen and (max-width: $break-small-medium) {
   .header .headertype__carousel .title__wrapper {
       margin-top: 5rem;
   }
}

@media screen and (max-width: $break-small) {
   .header .headertype__default .title__wrapper {
       margin-top: 12rem;
   }
}
