//some homepage styles

.typecontainer {

   @media screen and (max-width: $break-small) {
      .large-5 {
         padding: 0px;
      }
   }

   &__container {
      overflow: hidden;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      @media screen and (max-width: $break-small) {
         border-radius: 0px;
      }
   }

   &__image {
      background-color: palette(blue);

      img {
         width: 100%;
      }
   }

   &__copy {
      background-color: white;
      padding: 2rem 3rem 1rem;


      p {
         text-align: center;
      }
   }

   .sv_button {
      margin: 2rem auto;

      @media screen and (max-width: $break-small) {
         width: 60%;
      }
   }

}

#player1 {
   opacity: 0;
}

.typecontainer.grey {
   @media screen and (max-width: $break-small) {
      padding-bottom: 0;
   }
}
