//link animation

a {
  position: relative;
  text-decoration: none;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  display: none;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.off-canvas-list {
   a:before, .has-submenu a:before {
      display: none;
   }

   .back {

      a:after {
         display: none;
      }

      i {
         margin-right: 10px;
      }
   }

   .right-submenu .back > a {
      padding-left: 0.3rem;
   }
}


.right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:before {
   display: none;
}
