//maps

.map {
   padding-bottom: 0px;

   &__container {
      height: 600px;

      @media screen and (min-width: $break-extra-large) {
         height: 750px;
      }

      @media screen and (max-width: $break-small) {
         height: 400px;
      }
   }

   &__legend {
      border: 1px solid palette(green, light);
      border-radius: 5px;
      padding: 20px 30px 30px;
      background-color: white;

      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);

      position: absolute;
      width: 200px;
      top: 0px;
      margin-top: -470px;

      @media screen and (min-width: $break-extra-large) {
         margin-top: -540px;
      }

      @media screen and (max-width: $break-small) {
         -webkit-box-shadow: none;
         -moz-box-shadow: none;
         box-shadow: none;
         padding: 15px 0 20px;
         position: relative;
         margin-top: 0;
         width: 100%;
         border: none;
         background-color: transparent;

         li {
            display: inline-block;
            margin-right: 15px;
         }
      }
   }

   &__title {
      font-family:$proxima-font-family;
      font-size: 1.1rem;
      border-bottom: 1px solid palette(blue);
      padding-bottom: 10px;
      font-weight: bold;
      margin-bottom: 20px;

      @media screen and (max-width: $break-small) {
         display: none;
      }
   }

}


.pins {

   margin: 0px;
   padding: 0px;

   &__icon {
      display: inline-block;
      margin-right: 20px;
      margin-top: 10px;

      @media screen and (max-width: $break-small) {
         margin-right: 5px;
      }


      i {
         font-weight: normal;
         font-size: 1.7rem;
      }

      &--health {
         color: palette(health);
      }

      &--education {
         color: palette(education);
      }

      &--kilisun {
         color: palette(kilisun);
      }

      &--community {
         color: palette(community);
      }

      &--standingvoices {
         color: palette(standingvoices);
      }

      &--advocacy {
         color: palette(advocacy);
      }
   }

   &__item {
      font-family:$proxima-font-family;
      font-size: 0.9rem;
      font-weight: bold;
      list-style: none;
   }

}

.mobile-map {
   background-color: #F2FAF3;
   width: 100%;
}
