/*!
 * # Semantic UI 1.12.3 - Menu
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Copyright 2014 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
            Standard
*******************************/


/*--------------
      Menu
---------------*/

.ui.menu {
  margin: 1rem 0rem;
  background: #ffffff;
  font-size: 0em;
  font-weight: normal;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.2857rem;
}
.ui.menu:after {
  content: '';
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.ui.menu:first-child {
  margin-top: 0rem;
}
.ui.menu:last-child {
  margin-bottom: 0rem;
}
.ui.menu .menu {
  margin: 0em;
}
.ui.menu:not(.vertical) .menu {
  font-size: 0em;
}

/*--------------
     Colors
---------------*/


/* Text Color */
.ui.menu .item {
  color: rgba(0, 0, 0, 0.8);
}
.ui.menu .item .item {
  color: rgba(0, 0, 0, 0.5);
}

/* Hover */
.ui.menu .item .menu a.item:hover,
.ui.menu .item .menu .link.item:hover {
  color: rgba(0, 0, 0, 0.85);
}

/*--------------
      Items
---------------*/

.ui.menu .item {
  position: relative;
  display: inline-block;
  padding: 0.78571em 0.95em;
  border-top: 0em solid transparent;
  background: none;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
          transition: opacity 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
}

/* Floated Content */
.ui.menu > .item:first-child {
  border-radius: 0.2857rem 0px 0px 0.2857rem;
}
.ui.menu:not(.vertical) .item.left,
.ui.menu:not(.vertical) .menu.left {
  float: left;
}
.ui.menu:not(.vertical) .item.right,
.ui.menu:not(.vertical) .menu.right {
  float: right;
}

/*--------------
    Borders
---------------*/

.ui.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  right: 0px;
  width: 1px;
  height: 100%;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 100%);
}
.ui.menu > .right.menu:first-child {
  display: none;
}
.ui.menu .menu.right .item:before,
.ui.menu .item.right:before {
  right: auto;
  left: 0px;
}

/*--------------
  Text Content
---------------*/

.ui.menu .text.item > *,
.ui.menu .item > a:not(.ui),
.ui.menu .item > p:only-child {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.8);
}
.ui.menu .item > p:first-child {
  margin-top: 0;
}
.ui.menu .item > p:last-child {
  margin-bottom: 0;
}

/*--------------
      Icons
---------------*/

.ui.menu .item > i.icon {
  opacity: 0.75;
  float: none;
  margin: 0em 0.25em 0em 0em;
}
.ui.menu .item > i.dropdown.icon {
  float: right;
  margin-left: 1em;
}

/*--------------
     Button
---------------*/

.ui.menu:not(.vertical) .item > .button {
  position: relative;
  top: -0.05em;
  margin: -0.55em 0;
  padding-bottom: 0.55em;
  padding-top: 0.55em;
  font-size: 0.875em;
}

/*--------------
     Inputs
---------------*/

.ui.menu .item > .input {
  width: 100%;
}
.ui.menu:not(.vertical) .item > .input {
  position: relative;
  top: 0em;
  margin: -0.6em 0em;
}
.ui.menu .item > .input input {
  font-size: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.ui.menu .item > .input .button,
.ui.menu .item > .input .label {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

/* Resizes */
.ui.small.menu .item > .input input {
  top: 0em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.ui.small.menu .item > .input .button,
.ui.small.menu .item > .input .label {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.ui.large.menu .item > .input input {
  top: -0.125em;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}
.ui.large.menu .item > .input .button,
.ui.large.menu .item > .input .label {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

/*--------------
     Header
---------------*/

.ui.menu .header.item,
.ui.vertical.menu .header.item {
  background: rgba(0, 0, 0, 0.04);
  margin: 0em;
  text-transform: normal;
  font-weight: bold;
}

/*--------------
    Dropdowns
---------------*/


/* Dropdown */
.ui.menu .ui.dropdown.item.visible {
  background: rgba(0, 0, 0, 0.03);
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
}
.ui.menu .ui.dropdown.active {
  box-shadow: none;
}

/* Menu Position */
.ui.menu .dropdown.item .menu {
  background: #ffffff;
  left: 0px;
  margin: 0px 0px 0px;
  min-width: -webkit-calc(100% - 1px);
  min-width: calc(100% - 1px);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}
.ui.menu:not(.secondary) .pointing.dropdown.item .menu {
  margin-top: 0px;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
}
.ui.menu .simple.dropdown.item .menu {
  margin: 0px !important;
}

/* Secondary Menu Dropdown */
.ui.secondary.menu > .menu > .active.dropdown.item {
  background-color: transparent;
}
.ui.secondary.menu .dropdown.item .menu {
  left: 0px;
  min-width: 100%;
}

/* Even Width Menu Dropdown */
.ui.item.menu .dropdown .menu .item {
  width: 100%;
}

/*--------------
     Labels
---------------*/

.ui.menu .item > .label {
  background: rgba(0, 0, 0, 0.35);
  color: #ffffff;
  margin: -0.15em 0em -0.15em 0.5em;
  padding: 0.3em 0.8em;
  vertical-align: baseline;
}
.ui.menu .item > .floating.label {
  padding: 0.3em 0.8em;
}

/*--------------
     Images
---------------*/

.ui.menu .item > img:only-child {
  display: block;
  max-width: 100%;
  margin: 0em auto;
}


/*******************************
             States
*******************************/


/*--------------
      Hover
---------------*/

.ui.link.menu > .item:hover,
.ui.menu > .link.item:hover,
.ui.menu > a.item:hover,
.ui.link.menu .menu > .item:hover,
.ui.menu .menu > .link.item:hover,
.ui.menu .menu > a.item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.8);
}

/*--------------
     Pressed
---------------*/

.ui.link.menu .item:active,
.ui.menu .link.item:active,
.ui.menu a.item:active {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.8);
}

/*--------------
     Active
---------------*/

.ui.menu .active.item {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  box-shadow: 0em 2px 0em inset;
}
.ui.menu .active.item > i.icon {
  opacity: 1;
}

/* Vertical */
.ui.vertical.menu .active.item {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0em;
  box-shadow: 2px 0em 0em inset;
}
.ui.vertical.menu > .active.item:first-child {
  border-radius: 0em 0.2857rem 0em 0em;
}
.ui.vertical.menu > .active.item:last-child {
  border-radius: 0em 0em 0.2857rem 0em;
}
.ui.vertical.menu > .active.item:only-child {
  border-radius: 0em 0.2857rem 0.2857rem 0em;
}
.ui.vertical.menu .active.item .menu .active.item {
  border-left: none;
}
.ui.vertical.menu .item .menu .active.item {
  background-color: transparent;
  box-shadow: none;
}

/*--------------
  Active Hover
---------------*/

.ui.vertical.menu .active.item:hover,
.ui.menu .active.item:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

/*--------------
     Disabled
---------------*/

.ui.menu .item.disabled,
.ui.menu .item.disabled:hover {
  cursor: default;
  color: rgba(40, 40, 40, 0.3);
  background-color: transparent !important;
}


/*******************************
             Types
*******************************/


/*--------------
    Vertical
---------------*/

.ui.vertical.menu {
  background: #ffffff;
}

/*--- Item ---*/

.ui.vertical.menu .item {
  background: none;
  display: block;
  height: auto !important;
  border-top: none;
  border-left: 0em solid transparent;
  border-right: none;
}
.ui.vertical.menu > .item:first-child {
  border-radius: 0.2857rem 0.2857rem 0px 0px;
}
.ui.vertical.menu > .item:last-child {
  border-radius: 0px 0px 0.2857rem 0.2857rem;
}

/*--- Label ---*/

.ui.vertical.menu .item > .label {
  float: right;
  text-align: center;
}

/*--- Icon ---*/

.ui.vertical.menu .item > i.icon {
  width: 1.18em;
  float: right;
  margin: 0em 0em 0em 0.5em;
}
.ui.vertical.menu .item > .label + i.icon {
  float: none;
  margin: 0em 0.5em 0em 0em;
}

/*--- Border ---*/

.ui.vertical.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0px;
  width: 100%;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.1) 1.5em, rgba(0, 0, 0, 0.03) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.1) 1.5em, rgba(0, 0, 0, 0.03) 100%);
  height: 1px;
}
.ui.vertical.menu .item:first-child:before {
  background: none !important;
}

/*--- Dropdown ---*/

.ui.vertical.menu .dropdown.item > .icon {
  float: right;
  content: "\f0da";
  margin-left: 1em;
}
.ui.vertical.menu .active.dropdown.item {
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.ui.vertical.menu .dropdown.item .menu {
  top: 0% !important;
  left: 100%;
  margin: 0px 0px 0px 0px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0em 0.2857rem 0.2857rem 0.2857rem;
}
.ui.vertical.menu .dropdown.item .menu .item {
  font-size: 1rem;
}
.ui.vertical.menu .dropdown.item .menu .item i.icon {
  margin-right: 0em;
}
.ui.vertical.menu .dropdown.item.active {
  box-shadow: none;
}

/*--- Sub Menu ---*/

.ui.vertical.menu .item:not(.dropdown) > .menu {
  margin: 0.5em -0.95em 0em;
}
.ui.vertical.menu .item:not(.dropdown) > .menu > .item {
  background: none;
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
}
.ui.vertical.menu .item > .menu > .item:before {
  display: none;
}

/*--------------
     Tiered
---------------*/

.ui.tiered.menu > .menu > .item:hover {
  color: rgba(0, 0, 0, 0.8);
}
.ui.tiered.menu .active.item {
  background: #fcfcfc;
}
.ui.tiered.menu > .menu .item.active:after {
  position: absolute;
  content: '';
  margin-top: -1px;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #fcfcfc;
}

/* Sub Menu */
.ui.tiered.menu .sub.menu {
  background-color: #fcfcfc;
  border-radius: 0em 0em 0.2857rem 0.2857rem;
  border-top: 1px solid rgba(39, 41, 43, 0.15);
  box-shadow: none;
}
.ui.tiered.menu > .sub.menu > .item {
  color: rgba(0, 0, 0, 0.4);
  font-weight: normal;
  text-transform: normal;
  font-size: 0.875rem;
}

/* Sub Menu Divider */
.ui.tiered.menu .sub.menu .item:before {
  background: none;
}

/* Sub Menu Hover */
.ui.tiered.menu .sub.menu .item:hover {
  background: none transparent;
  color: rgba(0, 0, 0, 0.8);
}

/* Sub Menu Active */
.ui.tiered.menu .sub.menu .active.item {
  padding-top: 0.78571em;
  background: none transparent;
  border-radius: 0;
  border-top: medium none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.8) !important;
}
.ui.tiered.menu .sub.menu .active.item:after {
  display: none;
}

/* Inverted Tiered Menu */
.ui.inverted.tiered.menu > .menu > .item {
  color: rgba(255, 255, 255, 0.5);
}
.ui.inverted.tiered.menu .sub.menu {
  background-color: rgba(0, 0, 0, 0.2);
}
.ui.inverted.tiered.menu .sub.menu .item {
  color: rgba(255, 255, 255, 0.8);
}
.ui.inverted.tiered.menu > .menu > .item:hover {
  color: #ffffff;
}
.ui.inverted.tiered.menu .active.item:after {
  display: none;
}
.ui.inverted.tiered.menu > .sub.menu > .active.item,
.ui.inverted.tiered.menu > .menu > .active.item {
  color: #ffffff !important;
  box-shadow: none;
}

/* Tiered Pointing */
.ui.pointing.tiered.menu > .menu > .item:after {
  display: none;
}
.ui.pointing.tiered.menu > .sub.menu > .item:after {
  display: block;
}

/*--------------
     Tabular
---------------*/

.ui.tabular.menu {
  background-color: transparent;
  border-radius: 0em;
  box-shadow: none !important;
  border-bottom: 1px solid #d4d4d5;
}
.ui.tabular.fluid.menu {
  width: -webkit-calc(100% +  2px ) !important;
  width: calc(100% +  2px ) !important;
}
.ui.tabular.menu .item {
  background-color: transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  padding-left: 1.4em;
  padding-right: 1.4em;
  color: rgba(0, 0, 0, 0.8);
}
.ui.tabular.menu .item:before {
  display: none;
}

/* Hover */
.ui.tabular.menu .item:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}

/* Active */
.ui.tabular.menu .active.item {
  position: relative;
  border-bottom: none;
  vertical-align: bottom;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  border-color: #d4d4d5;
  font-weight: bold;
  margin-bottom: -1px;
  box-shadow: none;
  border-radius: 5px 5px 0px 0px;
}

/* Coupling with segment for attachment */
.ui.attached.tabular.menu {
  position: relative;
  z-index: 2;
}
.ui.tabular.menu + .bottom.attached.segment,
.ui.tabular.menu ~ .bottom.attached.segment + .bottom.attached.segment {
  border-top: none;
  margin: 0px;
}

/*--------------
   Pagination
---------------*/

.ui.pagination.menu {
  margin: 0em;
  display: inline-block;
  vertical-align: middle;
}
.ui.pagination.menu .item {
  min-width: 3em;
  text-align: center;
}
.ui.pagination.menu .icon.item i.icon {
  vertical-align: top;
}
.ui.pagination.menu.floated {
  display: block;
}

/* Active */
.ui.pagination.menu .active.item {
  border-top: none;
  padding-top: 0.78571em;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: none;
}

/*--------------
   Secondary
---------------*/

.ui.secondary.menu {
  background: none;
  border-radius: 0em;
  box-shadow: none;
}
.ui.secondary.menu > .menu > .item,
.ui.secondary.menu > .item {
  box-shadow: none;
  border: none;
  height: auto !important;
  background: none;
  margin: 0em 0.25em;
  padding: 0.5em 0.8em;
  border-radius: 0.2857rem;
}
.ui.secondary.menu > .menu > .item:before,
.ui.secondary.menu > .item:before {
  display: none !important;
}
.ui.secondary.menu .item > .input input {
  background-color: transparent;
  border: none;
}
.ui.secondary.menu .link.item,
.ui.secondary.menu a.item {
  opacity: 0.8;
  -webkit-transition: none;
          transition: none;
}
.ui.secondary.menu .header.item {
  border-right: 0.1em solid rgba(0, 0, 0, 0.1);
  background: none transparent;
  border-radius: 0em;
}

/* Hover */
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover {
  opacity: 1;
}

/* Active */
.ui.secondary.menu > .menu > .active.item,
.ui.secondary.menu > .active.item {
  background: rgba(0, 0, 0, 0.05);
  opacity: 1;
  box-shadow: none;
}
.ui.secondary.vertical.menu > .active.item {
  border-radius: 0.2857rem;
}

/* Inverted */
.ui.secondary.inverted.menu .link.item,
.ui.secondary.inverted.menu a.item {
  color: rgba(255, 255, 255, 0.8);
}
.ui.secondary.inverted.menu .link.item:hover,
.ui.secondary.inverted.menu a.item:hover {
  color: #ffffff;
}
.ui.secondary.inverted.menu .active.item {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Disable variations */
.ui.secondary.item.menu > .item {
  margin: 0em;
}
.ui.secondary.attached.menu {
  box-shadow: none;
}

/*---------------------
   Secondary Vertical
-----------------------*/

.ui.secondary.vertical.menu > .item {
  border: none;
  margin: 0em 0em 0.3em;
  border-radius: 0.2857rem;
}
.ui.secondary.vertical.menu > .header.item {
  border-radius: 0em;
}

/* Inverted */
.ui.secondary.inverted.menu {
  background-color: transparent;
}
.ui.secondary.inverted.pointing.menu {
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
.ui.secondary.inverted.pointing.menu > .item {
  color: rgba(255, 255, 255, 0.7);
}
.ui.secondary.inverted.pointing.menu > .header.item {
  color: #FFFFFF !important;
}

/* Hover */
.ui.secondary.inverted.pointing.menu > .menu > .item:hover,
.ui.secondary.inverted.pointing.menu > .item:hover {
  color: rgba(255, 255, 255, 0.85);
}

/* Pressed */
.ui.secondary.inverted.pointing.menu > .menu > .item:active,
.ui.secondary.inverted.pointing.menu > .item:active {
  border-color: rgba(255, 255, 255, 0.4);
}

/* Active */
.ui.secondary.inverted.pointing.menu > .menu > .item.active,
.ui.secondary.inverted.pointing.menu > .item.active {
  border-color: rgba(255, 255, 255, 0.8);
  color: #ffffff;
}

/*---------------------
   Secondary Pointing
-----------------------*/

.ui.secondary.pointing.menu {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
.ui.secondary.pointing.menu > .menu > .item,
.ui.secondary.pointing.menu > .item {
  margin: 0em 0em -3px;
  padding: 0.6em 0.95em;
  border-bottom: 3px solid transparent;
  border-radius: 0em;
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
}

/* Item Types */
.ui.secondary.pointing.menu .header.item {
  margin-bottom: -3px;
  background-color: transparent !important;
  border-right-width: 0px !important;
  font-weight: bold !important;
  color: rgba(0, 0, 0, 0.85) !important;
}
.ui.secondary.pointing.menu .text.item {
  box-shadow: none !important;
}
.ui.secondary.pointing.menu > .menu > .item:after,
.ui.secondary.pointing.menu > .item:after {
  display: none;
}

/* Hover */
.ui.secondary.pointing.menu > .menu > .link.item:hover,
.ui.secondary.pointing.menu > .link.item:hover,
.ui.secondary.pointing.menu > .menu > a.item:hover,
.ui.secondary.pointing.menu > a.item:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}

/* Pressed */
.ui.secondary.pointing.menu > .menu > .link.item:active,
.ui.secondary.pointing.menu > .link.item:active,
.ui.secondary.pointing.menu > .menu > a.item:active,
.ui.secondary.pointing.menu > a.item:active {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.2);
}

/* Active */
.ui.secondary.pointing.menu > .menu > .item.active,
.ui.secondary.pointing.menu > .item.active {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.8);
}

/* Secondary Vertical Pointing */
.ui.secondary.vertical.pointing.menu {
  border: none;
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}
.ui.secondary.vertical.pointing.menu > .item {
  margin: 0em -3px 0em 0em;
  border-bottom: none;
  border-right: 3px solid transparent;
  border-radius: 0em;
}

/* Hover */
.ui.secondary.vertical.pointing.menu > .item:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

/* Pressed */
.ui.secondary.vertical.pointing.menu > .item:active {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.2);
}

/* Active */
.ui.secondary.vertical.pointing.menu > .item.active {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.85);
}

/* Inverted Vertical Pointing Secondary */
.ui.secondary.inverted.vertical.pointing.menu {
  border-right: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom: none;
}

/*--------------
    Text Menu
---------------*/

.ui.text.menu {
  display: inline-block;
  background: none transparent;
  margin: 1rem -1rem;
  border-radius: 0px;
  box-shadow: none;
}
.ui.text.menu > .item {
  opacity: 0.8;
  margin: 0em 1em;
  padding: 0em;
  height: auto !important;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.ui.text.menu > .item:before {
  display: none !important;
}
.ui.text.menu .header.item {
  background-color: transparent;
  opacity: 1;
  color: rgba(50, 50, 50, 0.8);
  font-size: 0.875rem;
  padding: 0em;
  text-transform: uppercase;
  font-weight: bold;
}
.ui.text.menu .text.item {
  opacity: 1;
  color: rgba(50, 50, 50, 0.8);
  font-weight: bold;
}

/*--- fluid text ---*/

.ui.text.item.menu .item {
  margin: 0em;
}

/*--- vertical text ---*/

.ui.vertical.text.menu {
  margin: 1rem 0em;
}
.ui.vertical.text.menu:first-child {
  margin-top: 0rem;
}
.ui.vertical.text.menu:last-child {
  margin-bottom: 0rem;
}
.ui.vertical.text.menu .item {
  float: left;
  clear: left;
  margin: 0.5em 0em;
}
.ui.vertical.text.menu .item > i.icon {
  float: none;
  margin: 0em 0.78571em 0em 0em;
}
.ui.vertical.text.menu .header.item {
  margin: 0.8em 0em;
}

/*--- hover ---*/

.ui.text.menu .item:hover {
  opacity: 1;
  background-color: transparent;
}

/*--- active ---*/

.ui.text.menu .active.item {
  background-color: transparent;
  padding: 0em;
  border: none;
  opacity: 1;
  font-weight: bold;
  box-shadow: none;
}

/* disable variations */
.ui.text.pointing.menu .active.item:after {
  box-shadow: none;
}
.ui.text.attached.menu {
  box-shadow: none;
}

/* Inverted */
.ui.inverted.text.menu,
.ui.inverted.text.menu .item,
.ui.inverted.text.menu .item:hover,
.ui.inverted.text.menu .item.active {
  background-color: transparent;
}

/* Fluid */
.ui.fluid.text.menu {
  margin-left: 0em;
  margin-right: 0em;
}

/*--------------
    Icon Only
---------------*/

.ui.icon.menu,
.ui.vertical.icon.menu {
  width: auto;
  display: inline-block;
  height: auto;
}
.ui.icon.menu > .item {
  height: auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.ui.icon.menu > .item > .icon {
  display: block;
  float: none !important;
  margin: 0em auto !important;
  opacity: 1;
}
.ui.icon.menu .icon:before {
  opacity: 1;
}

/* Item Icon Only */
.ui.menu .icon.item .icon {
  margin: 0em;
}
.ui.vertical.icon.menu {
  float: none;
}

/*--- inverted ---*/

.ui.inverted.icon.menu .item {
  color: rgba(255, 255, 255, 0.8);
}
.ui.inverted.icon.menu .icon {
  color: #ffffff;
}

/*--------------
   Labeled Icon
---------------*/

.ui.labeled.icon.menu {
  text-align: center;
}
.ui.fluid.labeled.icon.menu > .item {
  min-width: 0em;
}
.ui.labeled.icon.menu > .item {
  min-width: 6em;
}
.ui.labeled.icon.menu > .item > .icon {
  display: block;
  font-size: 1.5em !important;
  margin: 0em auto 0.5em !important;
}


/*******************************
           Variations
*******************************/


/*--------------
    Colors
---------------*/


/*--- Light Colors  ---*/

.ui.menu .blue.active.item,
.ui.blue.menu .active.item {
  border-color: #3b83c0 !important;
  color: #3b83c0 !important;
}
.ui.menu .green.active.item,
.ui.green.menu .active.item {
  border-color: #5bbd72 !important;
  color: #5bbd72 !important;
}
.ui.menu .orange.active.item,
.ui.orange.menu .active.item {
  border-color: #e07b53 !important;
  color: #e07b53 !important;
}
.ui.menu .pink.active.item,
.ui.pink.menu .active.item {
  border-color: #d9499a !important;
  color: #d9499a !important;
}
.ui.menu .purple.active.item,
.ui.purple.menu .active.item {
  border-color: #564f8a !important;
  color: #564f8a !important;
}
.ui.menu .red.active.item,
.ui.red.menu .active.item {
  border-color: #d95c5c !important;
  color: #d95c5c !important;
}
.ui.menu .teal.active.item,
.ui.teal.menu .active.item {
  border-color: #00b5ad !important;
  color: #00b5ad !important;
}
.ui.menu .yellow.active.item,
.ui.yellow.menu .active.item {
  border-color: #f2c61f !important;
  color: #f2c61f !important;
}

/*--------------
    Inverted
---------------*/

.ui.inverted.menu {
  background: #1b1c1d;
  box-shadow: none;
}
.ui.inverted.menu .header.item {
  margin: 0em;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}
.ui.inverted.menu .item,
.ui.inverted.menu .item > a:not(.ui) {
  color: #ffffff;
}
.ui.inverted.menu .item:not(.dropdown).menu {
  background: transparent;
}
.ui.inverted.menu .item .item,
.ui.inverted.menu .item .item > a:not(.ui) {
  color: rgba(255, 255, 255, 0.5);
}
.ui.inverted.menu .dropdown .menu .item {
  color: rgba(0, 0, 0, 0.8) !important;
  -webkit-transition: none;
          transition: none;
}
.ui.inverted.menu .dropdown .menu .item:hover {
  background: rgba(0, 0, 0, 0.05) !important;
  color: rgba(0, 0, 0, 0.85) !important;
}
.ui.inverted.menu .item.disabled,
.ui.inverted.menu .item.disabled:hover {
  color: rgba(225, 225, 225, 0.3);
}

/*--- Border ---*/

.ui.inverted.menu .item:before {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
  background: linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
}
.ui.vertical.inverted.menu .item:before {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
}

/*--- Hover ---*/

.ui.link.inverted.menu .item:hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover,
.ui.inverted.menu .dropdown.item:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.ui.inverted.menu .item .menu a.item:hover,
.ui.inverted.menu .item .menu .link.item:hover {
  background: transparent;
  color: #ffffff;
}

/*--- Pressed ---*/

.ui.inverted.menu a.item:active,
.ui.inverted.menu .dropdown.item:active,
.ui.inverted.menu .link.item:active,
.ui.inverted.menu a.item:active {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

/*--- Active ---*/

.ui.inverted.menu .active.item {
  box-shadow: none !important;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff !important;
}
.ui.inverted.vertical.menu .item .menu .active.item {
  background: transparent;
  color: #ffffff;
}

/*--- Pointers ---*/

.ui.inverted.pointing.menu .active.item:after {
  background: #5B5B5B;
  box-shadow: none;
}
.ui.inverted.pointing.menu .active.item:hover:after {
  background: #4A4A4A;
}

/*--------------
    Selection
---------------*/

.ui.selection.menu > .item {
  color: rgba(0, 0, 0, 0.4);
}
.ui.selection.menu > .item:hover {
  color: rgba(0, 0, 0, 0.6);
}
.ui.selection.menu > .item.active {
  color: rgba(0, 0, 0, 0.85);
}
.ui.inverted.selection.menu > .item {
  color: rgba(255, 255, 255, 0.4);
}
.ui.inverted.selection.menu > .item:hover {
  color: rgba(255, 255, 255, 0.9);
}
.ui.inverted.selection.menu > .item.active {
  color: #FFFFFF;
}

/*--------------
     Floated
---------------*/

.ui.floated.menu {
  float: left;
  margin: 0rem 0.5rem 0rem 0rem;
}
.ui.right.floated.menu {
  float: right;
  margin: 0rem 0rem 0rem 0.5rem;
}

/*--------------
 Inverted Colors
---------------*/


/*--- Light Colors  ---*/

.ui.grey.menu {
  background-color: #fafafa;
}

/*--- Inverted Colors  ---*/


/* Blue */
.ui.inverted.blue.menu {
  background-color: #3b83c0;
}
.ui.inverted.blue.pointing.menu .active.item:after {
  background-color: #3b83c0;
}

/* Green */
.ui.inverted.green.menu {
  background-color: #5bbd72;
}
.ui.inverted.green.pointing.menu .active.item:after {
  background-color: #5bbd72;
}

/* Orange */
.ui.inverted.orange.menu {
  background-color: #e07b53;
}
.ui.inverted.orange.pointing.menu .active.item:after {
  background-color: #e07b53;
}

/* Pink */
.ui.inverted.pink.menu {
  background-color: #d9499a;
}
.ui.inverted.pink.pointing.menu .active.item:after {
  background-color: #d9499a;
}

/* Purple */
.ui.inverted.purple.menu {
  background-color: #564f8a;
}
.ui.inverted.purple.pointing.menu .active.item:after {
  background-color: #564f8a;
}

/* Red */
.ui.inverted.red.menu {
  background-color: #d95c5c;
}
.ui.inverted.red.pointing.menu .active.item:after {
  background-color: #d95c5c;
}

/* Teal */
.ui.inverted.teal.menu {
  background-color: #00b5ad;
}
.ui.inverted.teal.pointing.menu .active.item:after {
  background-color: #00b5ad;
}

/* Yellow */
.ui.inverted.yellow.menu {
  background-color: #f2c61f;
}
.ui.inverted.yellow.pointing.menu .active.item:after {
  background-color: #f2c61f;
}

/*--------------
     Fitted
---------------*/

.ui.fitted.menu .item,
.ui.fitted.menu .item .menu .item,
.ui.menu .fitted.item {
  padding: 0em;
}
.ui.horizontally.fitted.menu .item,
.ui.horizontally.fitted.menu .item .menu .item,
.ui.menu .horizontally.fitted.item {
  padding-top: 0.78571em;
  padding-bottom: 0.78571em;
}
.ui.vertically.fitted.menu .item,
.ui.vertically.fitted.menu .item .menu .item,
.ui.menu .vertically.fitted.item {
  padding-left: 0.95em;
  padding-right: 0.95em;
}

/*--------------
   Borderless
---------------*/

.ui.borderless.menu .item:before,
.ui.borderless.menu .item .menu .item:before,
.ui.menu .borderless.item:before {
  background: none !important;
}

/*-------------------
       Compact
--------------------*/

.ui.compact.menu {
  display: inline-block;
  margin: 0em;
  vertical-align: middle;
}
.ui.compact.vertical.menu {
  width: auto !important;
}
.ui.compact.vertical.menu .item:last-child::before {
  display: block;
}

/*-------------------
        Fluid
--------------------*/

.ui.menu.fluid,
.ui.vertical.menu.fluid {
  display: block;
  width: 100% !important;
}

/*-------------------
      Evenly Sized
--------------------*/

.ui.item.menu,
.ui.item.menu .item {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center;
}
.ui.menu.two.item .item {
  width: 50%;
}
.ui.menu.three.item .item {
  width: 33.333%;
}
.ui.menu.four.item .item {
  width: 25%;
}
.ui.menu.five.item .item {
  width: 20%;
}
.ui.menu.six.item .item {
  width: 16.666%;
}
.ui.menu.seven.item .item {
  width: 14.285%;
}
.ui.menu.eight.item .item {
  width: 12.500%;
}
.ui.menu.nine.item .item {
  width: 11.11%;
}
.ui.menu.ten.item .item {
  width: 10.0%;
}
.ui.menu.eleven.item .item {
  width: 9.09%;
}
.ui.menu.twelve.item .item {
  width: 8.333%;
}

/*--------------
     Fixed
---------------*/

.ui.menu.fixed {
  position: fixed;
  z-index: 101;
  margin: 0em;
  border: none;
  width: 100%;
}
.ui.menu.fixed,
.ui.menu.fixed .item:first-child,
.ui.menu.fixed .item:last-child {
  border-radius: 0px !important;
}
.ui.fixed.menu,
.ui.top.fixed.menu {
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
}
.ui.right.fixed.menu {
  top: 0px;
  right: 0px;
  left: auto;
  bottom: auto;
  width: auto;
  height: 100%;
}
.ui.bottom.fixed.menu {
  bottom: 0px;
  left: 0px;
  top: auto;
  right: auto;
}
.ui.left.fixed.menu {
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
  width: auto;
  height: 100%;
}

/* Coupling with Grid */
.ui.fixed.menu + .ui.grid {
  padding-top: 2.75rem;
}

/*-------------------
       Pointing
--------------------*/

.ui.pointing.menu .active.item:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  margin: 0em;
  background: none;
  width: 0.6em;
  height: 0.6em;
  border: none;
  border-bottom: 1px solid #d4d4d5;
  border-right: 1px solid #d4d4d5;
  z-index: 11;
  -webkit-transition: background 0.2s ease;
          transition: background 0.2s ease;
}

/* Don't double up pointers */
.ui.pointing.menu .active.item .menu .active.item:after {
  display: none;
}
.ui.vertical.pointing.menu .active.item:after {
  position: absolute;
  top: 50%;
  right: 0%;
  bottom: auto;
  left: auto;
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(50%) translateY(-50%) rotate(45deg);
          transform: translateX(50%) translateY(-50%) rotate(45deg);
  margin: 0em -1px 0em 0em;
  border: none;
  border-top: 1px solid #d4d4d5;
  border-right: 1px solid #d4d4d5;
}

/* Colors */
.ui.pointing.menu .active.item:hover:after {
  background-color: #fafafa;
}
.ui.pointing.menu .active.item:after {
  background-color: #f7f7f7;
}
.ui.vertical.pointing.menu .item:hover:after {
  background-color: #fafafa;
}
.ui.vertical.pointing.menu .active.item:after {
  background-color: #f7f7f7;
}
.ui.vertical.pointing.menu .menu .active.item:after {
  background-color: #ffffff;
}

/*--------------
    Attached
---------------*/

.ui.menu.attached {
  margin: 0rem;
  border-radius: 0px;

/* avoid rgba multiplying */
  box-shadow: 0px 0px 0px 1px #dddddd;
}
.ui.top.attached.menu {
  border-radius: 0.2857rem 0.2857rem 0em 0em;
}
.ui.menu.bottom.attached {
  border-radius: 0em 0em 0.2857rem 0.2857rem;
}

/*--------------
     Sizes
---------------*/


/* Small */
.ui.small.menu .item {
  font-size: 0.875rem;
}
.ui.small.vertical.menu {
  width: 13rem;
}

/* Medium */
.ui.menu .item {
  font-size: 1rem;
}
.ui.vertical.menu {
  width: 15rem;
}

/* Large */
.ui.large.menu .item {
  font-size: 1.125rem;
}
.ui.large.menu .item .item {
  font-size: 0.875rem;
}
.ui.large.menu .dropdown .item {
  font-size: 1rem;
}
.ui.large.vertical.menu {
  width: 18rem;
}


/*******************************
         Theme Overrides
*******************************/




/*******************************
         Site Overrides
*******************************/
