.mobile-white {
   @media screen and (max-width: $break-small) {
      background-color: white;
   }
}

.mobile-white .sv_button {
   @media screen and (max-width: $break-small) {
      margin-top: 0;
      margin-bottom: 60px;
   }
}
