//navigation
#trigger1 {position: relative;}

.right-submenu {
    height: 30rem;
}

.right-off-canvas-menu {
   ul.off-canvas-list li a {
      font-family: $proxima-font-family;
      font-size: 1.1rem;
      font-weight: 600;

      i {
         font-size: 1.3rem;
         margin-top: 3px;
      }
   }

   ul.off-canvas-list li {
      &:last-child a {
         border-bottom: none;
      }

      .back {
         a {
            font-weight: 600;
            padding: 0.3rem 0.9375rem;
            text-transform: none;
         }
      }

   }
}

//background for nav - needs to be absolute
.sticky-background {
      position: absolute;
      background-color: palette(blue);
      height: 130px;

      @media screen and (max-width: $break-medium) {
         height: 110px;
      }

      @media screen and (max-width: $break-small) {
         height: 90px;
      }

      width: 100%;
      opacity: 0; //change to 1 for other pages
      z-index: 998;

      &.fullbleed {
         opacity: 0;
      }
}

.logo {
   &__wrapper {
      width: 155px; //53%
      margin-top: -20px;
      position: relative;

      @media screen and (max-width: $break-medium) {
         width: 135px;
         margin-top: -23px;
      }

      @media screen and (max-width: $break-small) {
         width: 105px;
         margin-top: -28px;
      }


      img {
         position: absolute;
         z-index: 999;
      }
   }


   &__mark {
      position: absolute;
      width: 100px;
      top: 0px;
      margin-top: -10px;
      z-index: 999;
   }
}

.sv-nav {

   //position: absolute;
   //top: 0px;
   z-index: 999;

   @media screen and (max-width: $break-medium) {
      display: none;
   }

   .ui.menu {
      box-shadow: none;
      background-color: transparent;
      float: right;

      .item {

         font-family:$proxima-font-family;
         text-transform: uppercase;
         font-weight: bold;
         font-size: 0.89rem;
         letter-spacing: 1px;
         padding: 0.85em 1em 0.7em;
         color: palette(green);
         transition: color 0.3s ease;

         @media screen and (max-width: $break-large) {
            font-size: 0.85rem;
            padding: 0.85em 0.75em 0.7em;
         }

         @media screen and (max-width: $break-medium-large) {
            font-size: 0.8rem;
            padding: 0.85em 0.7em 0.7em;
         }

         &:first-child {
            padding-left: 0px;
         }

         &.dropdown {
             padding-top: 0.65em;
         }

         &:hover {
            background-color: transparent;
            color:palette(green, light);
         }

         &:before {
            background: none;
         }

         &.donate {
            color: palette(pink, dark);
            box-shadow: 0px 0px 0px 2px rgba(255, 43, 56, 1);
            margin-left: 1rem;


            &:hover {
               background-color: palette(pink, dark)!important;
               color: palette(blue);
            }
         }

      }
   }

   .ui.dropdown .menu > .item {
       font-size: 0.7857rem;
   }

}

.fa {
   font-size: 1rem;
   font-weight: bold;
   margin-left: 4px;
}

.fa-asterisk {
   font-size: 0.75rem;
}

.fa-angle-right {
   float: right;
}


.off-canvas-list {
   .back, label {
      font-size: 0.8rem;
      font-family:$proxima-font-family;
      &:hover {
         background-color: transparent;
      }
   }
}

#nav-icon3 {
   display: none;

   @media screen and (max-width: $break-medium) {
      display: block;
   }
}
//----semantic ui overides---//


//---end-semantic ui overides---//
