#test {
    display: none;
}

//donate form styles

.donateform {


   &__wrapper {

   }

   &--toptext {
      color: palette(white);
      text-align: center;
      font-family:$proxima-font-family;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 29% auto 30px;

      @media screen and (max-width: $break-small) {
         margin: 8% auto 15px;
      }

      display: block;
   }

   &--bottomtext {

      color: palette(white);
      width: 100%;
      text-align: center;
      margin-top: 20px;
      font-size: 0.9rem;

      img {
         display: inline;
         width: 100px;
         margin-left: 5px;
         margin-bottom: 3px;
      }

   }

   .sv_input {
      color: palette(white);
      font-size: 2rem;
      height: 55px;
      text-align: center;
      font-family:$proxima-font-family;

      &::-webkit-input-placeholder { color:palette(pink, light); }
      &::-moz-placeholder { color:palette(pink, light); } /* firefox 19+ */
      &:-ms-input-placeholder { color:palette(pink, light); } /* ie */
      &:-moz-placeholder { color:palette(pink, light); }
   }


}
