//programme content

.programmecontent {

   &__wrapper {

      padding-bottom: 50px;

      @media screen and (max-width: $break-small) {
         padding-bottom: 20px;
      }

      &--content {
         padding-right: 8%;

         @media screen and (max-width: $break-medium-large) {
            padding: 0;
         }

      }

      ul {
         width: 100%;

         li {
            width: 100%;

            a {
               font-weight: bold;
               width: 100%;
               display: block;
            }
         }
      }

      h2 {
         text-transform: uppercase;
         width: auto;
         margin: 50px auto 50px;

         @media screen and (max-width: $break-small) {
            margin: 20px auto 20px;
         }
      }

      p {
         font-size: 1.1rem;
      }

      .quoteBox {
          border-left: 3px solid palette(green, light);
          float: right;
           margin-bottom: 10px;
           margin-left: 30px;
           margin-top: 10px;
           padding-bottom: 0px;
           padding-left: 14px;
           padding-top: 0px;

           width: 200px;

           @media screen and (max-width: $break-small) {
             width: 150px;
             margin-left: 10px;
             padding-top: 0px;
           }

           margin-right: -12px;
           position: relative;
           overflow: hidden;


             p {
                font-size: 28px;
                line-height: 34px;
                font-weight: 100;

               @media screen and (max-width: $break-small) {
                  font-size: 18px;
                  line-height: 24px;
                  padding-right: 15px;
               }
             }

      }


      &--sticky {

      }


      .keyfacts {

         &--title {
            font-weight: 100;
            border-bottom: 1px solid palette(blue);
            font-size: 1.5rem;
            padding-bottom: 10px;
            margin-bottom: 10px;
         }

         &__container {

            &--title {
               font-family: $proxima-font-family;
               font-size: 1.7rem;
               font-weight: bold;
               margin-bottom: 0px;
            }

            &--content {
               font-size: 0.9rem;
            }

         }

      }


      .sidefacts {

         &__wrapper {
            border-radius: 5px;
            width: 100%;
            min-height: 300px;
            background-color: palette(grey);
            margin-top: 60px;


            &--content {



            }


            &--header {

               height: 80px;
               -webkit-border-top-left-radius: 5px;
               -webkit-border-top-right-radius: 5px;
               -moz-border-radius-topleft: 5px;
               -moz-border-radius-topright: 5px;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
               padding: 3% 42%;

               @media screen and (max-width: $break-medium-large) {
                  display: none;
               }

               &.health {
                  background-color: palette(health);
               }

               &.education {
                  background-color: palette(education);
               }

               &.kilisun {
                  background-color: palette(kilisun);
               }

               &.community {
                  background-color: palette(community);
               }

               &.standingvoices {
                  background-color: palette(standingvoices);
               }

               &.advocacy {
                  background-color: palette(advocacy);
               }

            }


            &--content {
               padding: 20px;

               ul {
                  margin: 0px auto 20px;
                  list-style: none;

                  li {
                     margin: 10px auto;
                     padding-bottom: 10px;
                     border-bottom: 1px solid palette(blue, dark);

                     &:last-child {
                        border-bottom: none;
                     }

                     a {
                        font-family: $proxima-font-family;
                     }
                  }
               }

            }

         }

         &__social {

            &--title {
               p {
                  color: palette(blue);
                  text-align: center;
                  font-size: 0.9rem;
                  margin: 20px 0px 0px;
                  font-weight: bold;
               }
            }

            &--icons {

               ul {
                  width: 100%;
                  text-align: center;
               }

               li {
                  display: inline-block;
                  width: auto;
                  padding: 0 5px;
                  margin-right: 0px;
               }
               a {
                  color: palette(blue);
               }
            }

         }

      }





   }

}


.programmehome-carousel {
   padding-bottom: 0px;

   .headerCarousel {
      margin-bottom: 0px;

      .slick-dots {
         display: none!important;
      }
   }
}


.categoryhome {

   img {
      width: 100%;
      display: block;
      margin: 50px auto 20px;
   }

   &__title {
      font-family:$proxima-font-family;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.6rem;
      text-align: center;
   }

   &__desc {
      text-align: center;
   }


   .sv_button {
      width: 220px;
      margin: auto;
      margin-bottom: 30px;
   }

   &__health {
      p,a {
         color: palette(health, light);
      }
   }

   &__advocacy {
      p,a {
         color: palette(advocacy, light);
      }
   }

   &__community {
      p,a {
         color: palette(community, light);
      }
   }


}


.stats__container {
   i {
      color: white;
      text-align: center;
      width: 100%;
      font-size: 11rem;
      margin: 25px auto 5px;
      height: 200px;
   }
}
