//programme grid

body, html {
   width: 100%;
}

@mixin progtext-color($color, $lightness) {
   .programmegrid__container--desc {
      color: palette($color, $lightness);
   }

   .programmegrid__container--title {
      color: palette(white);
   }
}

.programmegrid {
   padding-bottom: 0px;

   &__container {
      padding: 10% 10%;

      &--icon {
         width: 90px;
         margin: 0px auto 20px;
         position: relative;
         height: 80px;

         img {
            position: absolute;
         }

         .hidden {
            display: none;
         }
      }

      &--desc {
         text-align: center;

         -webkit-transition: color 0.15s ease-out;
         -moz-transition: color 0.15s ease-out;
         -ms-transition: color 0.15s ease-out;
         -o-transition: color 0.15s ease-out;
         transition: color 0.15s ease-out;
      }

      &--title {
         font-size: 1.8rem;
         font-family:$proxima-font-family;
         font-weight: bold;
         text-align: center;
         text-transform: uppercase;
         letter-spacing: 1px;

         -webkit-transition: color 0.15s ease-out;
         -moz-transition: color 0.15s ease-out;
         -ms-transition: color 0.15s ease-out;
         -o-transition: color 0.15s ease-out;
         transition: color 0.15s ease-out;
      }

      .sv_button {
         margin: auto;
         width: 120px;
      }

   }

   &__wrapper {

      &--type {

         height: auto;
         display: inline-block;
         position: relative;
         vertical-align: top;
         padding-bottom: 15px;
         width: 33.3333333%;

         @media screen and (max-width: $break-medium-large) {
            width: 50%;
         }

         @media screen and (max-width: $break-small) {
            width: 100%;
         }

         zoom: 1;

         -webkit-transition: background 0.15s linear;
         -moz-transition: background 0.15s linear;
         -ms-transition: background 0.15s linear;
         -o-transition: background 0.15s linear;
         transition: background 0.15s linear;

         cursor: pointer;

         &:hover {
            .sv_button {
               box-shadow: 0px 0px 0px 2px palette(white);
               background-color: palette(white)!important;
               color: palette(blue);
            }
         }

         &.health {
            &:hover {
                  background-color: palette(health);

                  @include progtext-color(health, light);
            }
         }

         &.education {
            &:hover {
                  background-color: palette(education);

                  @include progtext-color(education, light);
            }
         }

         &.kilisun {
            &:hover {
                  background-color: palette(kilisun);

                  @include progtext-color(kilisun, light);
            }
         }

         &.community {
            &:hover {
                  background-color: palette(community);

                  @include progtext-color(community, light);
            }
         }

         &.standingvoices {
            &:hover {
                  background-color: palette(standingvoices);

                  @include progtext-color(standingvoices, light);
            }
         }

         &.advocacy {
            &:hover {
                  background-color: palette(advocacy);

                  @include progtext-color(advocacy, light);
            }
         }

      }

   }

}
