//quote section styling
.svquote {

   &__wrapper {

      height: 350px;
      position: relative;
      overflow: hidden;

      @media screen and (max-width: $break-medium-large) {
         height: 310px;
      }

      background-color: palette(blue, light);
      background-size: 40%;


      .quoteTriangle {
         position: absolute;
         height: 55px;
         z-index: 9;
         bottom: 145px;
         right: 25px;

         @media screen and (max-width: $break-small) {
            display: none;
         }
      }


      .quoteImage-carousel {
         width: 40%;

         @media screen and (max-width: $break-large) {
            width: 50%;
         }

         @media screen and (max-width: $break-medium-large) {
            width: 50%;
         }

         @media screen and (max-width: $break-medium) {
            width: 60%;
         }

         .slick-dots {
            visibility: hidden;
         }
      }

   }


   &__triangle {
      height: 350px;
      width: 40%;
      position:relative;
      background-color: palette(blue);
      position: absolute;
      bottom: 0;
      background: transparent url(../img/icons/triangle.svg) center right no-repeat;
      background-size: contain;

      &:after {
         content: "";
         display: block;
         height: 100%;
         width: 1px;
         right: 0;
         position: absolute;
         z-index: 3;
         background-color: palette(blue);
      }
   }


   &__background {

      height: 350px;
      width: 60%;
      float: right;
      background-color: palette(blue);
      position: absolute;
      top: 0px;
      right: 0px;

      @media screen and (max-width: $break-small) {
         width: 100%;
      }

   }


   &__content {

      position: relative;
      padding: 8% 18% 10% 10%;

      @media screen and (max-width: $break-small) {
         padding: 10%;
      }

      &--title {
         color: palette(white);
         font-weight: 100;
         font-size: 2.3rem;
         line-height: 3rem;

         @media screen and (max-width: $break-large) {
            font-size: 2.1rem;
            line-height: 2.8rem;
         }

         @media screen and (max-width: $break-medium-large) {
            font-size: 1.9rem;
            line-height: 2.6rem;
         }
      }

      &--subtitle {
         color: palette(blue, light);
         font-weight: bold;
         font-size: 0.7rem;
         text-transform: uppercase;
         font-family:$proxima-font-family;
      }

   }

   .slick-dots {
      bottom: 30px;
      margin-top: 10px;
      margin-left: 0px;

      display: none;

      @media screen and (max-width: $break-small) {
         display: none!important;
      }

      li {
         float: left;

         button:before {
            font-size: 20px;
            color: palette(blue, light);
            text-align: left;
         }
      }
   }

   .slick-initialized .slick-slide {
      outline: none;
   }

}
