//resources styles

.paddingmob__remove {
   @include widthroom();
}

.fa {
   font-weight: normal;
}

.videogrid {
   margin-top: 40px;
}

.resource {

   &__playing {

      padding-top: 40px;
      padding-bottom: 80px;

      &--share {

         .share {

            &__icons {
               list-style: none;
               float: left;

               @media screen and (max-width: $break-small) {
                  float: none;
                  text-align: center;

                  li {
                     display: inline-block;
                     margin: 0px 10px;
                  }
               }

               margin-right: 20px;

               a {
                  font-weight: normal;
               }

               i {
                  font-size: 1.3rem;
                  color: palette(blue);
                  margin-bottom: 10px;
                  font-weight: normal;
               }
            }

         }

      }

      &--video {
         padding-right: 50px;

         @media screen and (max-width: $break-small) {
            padding: 0px;
         }
      }

      &--desc {
         p {
            color: palette(blue);
         }
      }

   }

}


.whatson {
   width: 100%;
   background-color: palette(green);
   color: palette(white);
   position: absolute;
   bottom: 0px;
   height: 85px;


   &__container {
      padding-left: 50px;
      padding-top: 20px;

      @media screen and (max-width: $break-small) {
         padding-left: 0px;
      }

      p {
         font-family:$proxima-font-family;
         font-weight: bold;
         text-transform: uppercase;
         font-size: 1.2rem;
         line-height: 1.5rem;
      }

      span {
         color: palette(green, light);
         font-family:$proxima-font-family;
         font-size: 0.9rem;
         text-transform: none;
         font-weight: bold;
         padding-left: 33px;
      }

      #player--title {
         padding-left: 0;
         color: white;
         text-transform: uppercase;
      }

      i {
         font-size: 1.4rem;
         float: left;
         margin-right: 10px;
      }
   }

}


.viddesc {

   &__container {
      margin-top: 10px;

      i {
         float: left;
          margin: 5px 10px 0px 0px;
      }

      p {
         &.viddesc__container--title {
            font-weight: bold;
            font-family:$proxima-font-family;
            font-size: 1rem;
            margin-bottom: 0px;
            margin-left: 25px;

         }

         &.viddesc__container--subtitle {
            font-weight: normal;
            font-size: 0.9rem;
            margin-left: 25px;
         }
      }

      ul {
         list-style: none;
         margin: 10px auto 30px;
         text-align: center;

         li {
            display: inline-block;
            text-align: center;
            color: palette(grey, dark);
            font-size: 0.9rem;
            margin: 3px;

            &.divider {}

            a {
               color: palette(grey, dark);
               width: 100%;
            }
         }
      }

   }

}


.resourcetitle {

   span {
      font-family:$proxima-font-family;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 1.5rem;
      width: 100%;
      text-align: center;
      color: palette(green);
      border-top: 1px solid palette(green);
      margin: 0px auto 30px;
      padding-top: 30px;
      display: block;
   }

   p {
      text-align: center;
      width: 450px;

      @media screen and (max-width: $break-small) {
         width: 100%;
      }

      margin: auto;
   }

   .sv_button {
      width: 210px;
      margin: 20px auto 50px;
   }


}

.viddownload {

   margin: 50px auto;

   p {
      @media screen and (max-width: $break-small) {
         width: 100%;
         text-align: center;
      }
   }

   .sv_button {
      width: 180px;
      margin: 0px auto 30px;
   }
}

.assetimage__container {
   height: 230px;
   display: block;
   overflow: hidden;

   @media screen and (max-width: $break-large) {
      height: 13rem;
   }

   @media screen and (max-width: $break-medium-large) {
      height: 11rem;
   }

   @media screen and (max-width: $break-medium) {
      height: 9rem;
   }

   @media screen and (max-width: $break-small) {
      height: 16rem;
   }

   @media screen and (max-width: $break-extra-small) {
      height: 14rem;
   }

}

.assettype {

   margin-bottom: 40px;

   &__img {
      width: 100%;

      i {
         font-size: 4rem;
         font-weight: normal;
         text-align: center;
         width: 100%;
      }

      p {
         text-align: center;
         padding: 20px;
      }

   }

   &__desc {
      text-align: center;
      margin-top: 20px;
   }

   p {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
   }

   &__format {
      display: inline;
      padding-right: 10px;
      font-size: 0.9rem;
      color: palette(grey, dark);
   }

   &__date {
      display: inline;
      padding-left: 10px;
      font-size: 0.8rem;
      color: palette(grey, dark);
   }

   &__divider {
      font-size: 0.9rem;
      color: palette(grey, dark);
   }

   .sv_button {
      width: 180px;
      margin: auto;
   }

}
