//responsive styles
$break-extra-small: 340px;
$break-small-phone: 420px;
$break-phone: 500px;
$break-small: 640px;
$break-small-medium: 800px;
$break-medium: 970px;
$break-medium-large: 1024px;
$break-large: 1200px;
$break-extra-large: 1400px;
$break-x-extra-large: 1600px;

.right-submenu {
   height: 25rem;
}

@mixin widthroom() {

   @media screen and (max-width: $break-large) {

      padding-left: 1.5rem;
      padding-right: 1.5rem;

      .column, .columns {

         padding-left: 0.75rem;
         padding-right: 0.75rem;

      }

   }

}


@media screen and (max-width: $break-small) {
   html, body {
         font-size: 90%;
   }
}


@media screen and (max-width: $break-extra-small) {
   html, body {
         font-size: 80%;
   }
}


@media screen and (max-width: $break-extra-large) {

   .row {
      width: 96%;
   }

}


//navigation
@media screen and (max-width: $break-large) {

   //increase padding on mobile
   // .column, .columns {
   //    padding-left: 1.5rem;
   //    padding-right: 1.5rem;
   // }

   .row {
      width: 98%;
   }

}
