//placeholder styles

.section {

   height: auto;
   min-height: auto;
   padding-bottom: 30px;
    
    &__map {
        padding-bottom: 0;
    }
    
   &.voicesblocks {
      padding-bottom: 0px;
   }

   header {
      margin: 0 20%;

      @media screen and (max-width: $break-small) {
         margin: 0 5%;
      }

      h3 {
         text-transform: uppercase;
         margin-top: 60px;
         text-align: center;
         width: 100%;
         font-size: 1.95rem;
      }

      p {
         text-align: center;
      }
   }

   &__green {
      background-color: palette(green);

      h3, p {
         color: palette(white);
      }
   }
  
   &__homepage_green {
      background-color: palette(green);

      h3, p {
         color: palette(white);
      }
   }

   &__lightgreen {
      background-color: palette(green, light);
      position: relative;

      h3, p {
         color: palette(white);
      }
   }

   &__blue {
      background-color: palette(blue);

      h3, p {
         color: palette(white);
      }

      &.voices {
         padding-bottom: 5%;
      }
   }

   &__white {
      background-color: palette(white);

      h3, p {
         color: palette(blue);
      }

      &.homevideo {
         padding-bottom: 0px;
      }
   }

   &__advocacy {
      background-color: palette(advocacy);
      min-height: 350px;
      padding-bottom: 60px;
   }

   &__health {
      background-color: palette(health);
      min-height: 350px;
      padding-bottom: 60px;
   }

   &__community {
      background-color: palette(community);
      min-height: 350px;
      padding-bottom: 60px;
   }

   &__casestudies {
      background-color: palette(white);
      padding-bottom: 80px;

      @media screen and (max-width: $break-medium) {
          margin-bottom: 40px;
      }

      @media screen and (max-width: $break-small) {
          margin-bottom: 0px;
      }

      h3 {
         color: palette(blue);
      }

      p {
         color: palette(blue);
      }
   }

   &__grey {
      background-color: palette(brown);
      max-height: none;
      min-height: 350px;
   }

   &__red {
      min-height: auto;
      background-color: palette(red);
      padding: 8% 0;
   }

   &__short {
      min-height: 450px;
      height: 450px;

      @media screen and (max-width: $break-small) {
         height: auto;
         min-height: auto;
      }
   }


   &__reasons {
      padding-top: 50px;
      height: auto;
      min-height: 250px;

      @media screen and (max-width: $break-small) {
         padding-top: 25px;
      }
   }

   &__video {

      &--skincancerprevention {
         //background-image: url('../img/videosection-placeholder.jpg');
         //background-size: cover;
         overflow: hidden;
         height: auto; //was 600
         position: relative;

         @media screen and (max-width: $break-small) {
            height: auto;
            min-height: auto;
         }
      }

   }

   &__quote {

      max-height: 350px;
      min-height: 350px;

   }

}


.svparallax {

   &__container {

      height: 80vh;
      overflow: hidden;
      position: relative;
      display: block;
      background-color: black;

      @media screen and (max-width: $break-small) {
         height: 300px;
      }

      .parallaxParent > div {
         opacity: 0.8;

         @media screen and (max-width: $break-small) {
            opacity: 0.3;
         }
      }

   }

   &__copy {
      position: absolute;
      top: 40%;
      width: 50%;
      margin-left: -25%;
      left: 50%;

      @media screen and (max-width: $break-small) {
         position: absolute;
         top: 46px;
         width: 90%;
         margin-left: -45%;
         left: 50%;
      }

      h3 {
         color: white;
         text-align: center;
         text-transform: uppercase;
         text-align: center;
         font-size: 2.3rem;
      }

      p {
         color: palette(green, light);
         text-align: center;
         margin-bottom: 25px;
         margin-top: 0px;
      }
   }

}


.voice--parallax {
   .svparallax__copy {
      top: 30%;

      .questionmark {
         @media screen and (max-width: $break-small) {
            display: none;
         }
      }

      h3 {
         @media screen and (max-width: $break-small) {
            font-size: 1.6rem;
         }
      }

      p {
         @media screen and (max-width: $break-small) {
            display: none;
         }
      }
   }
}


//classes attached to main content
.main {

   &__about {

      .section__green {
         min-height: auto;
      }

      .section__lightgreen {
         min-height: auto;

         .about__wrapper {
            h2, p {
               color: palette(blue);
            }
         }
      }

   }

}


.about {

   &__wrapper {
      width: 80%;
      margin: 10% auto 5%;

      h2 {
         color: white;
         text-align: center;
         text-transform: uppercase;
         text-align: center;
      }

      p {
         color: palette(green, light);
         text-align: center;
         margin-bottom: 25px;
         margin-top: 0px;
      }
   }

}


.parallaxParent {
   height: 80vh;
   overflow: hidden;
   position: relative;
   display: block;
   background-color: palette(blue);
}

#parallax2.parallaxParent {
      height: 80vh;

      @media screen and (max-width: $break-small) {
          height: 300px;
      }
}

.parallaxParent > * {
   height: 118%;
   position: relative;
   top: -42%;
   background-size: cover;

   @media screen and (max-width: $break-small) {
       height: 300px;
       position: relative;
       top: 0;
       background-size: cover;
   }
}
