//signup styles

.signup {

      &__wrapper {
         display: block;
         position: relative;
         background: palette(pink) url(../img/newsletter_signup.jpg) top center no-repeat;
         background-size: cover;
         width: 100%;
         height: auto;
         padding-top: 60px;
         padding-bottom: 35px;

         @media screen and (max-width: $break-small) {
            padding-bottom: 5%;
            padding-top: 6%;
            min-height: 190px;
         }
      }

      &__container {

      }

      p {
         text-transform: uppercase;
         text-shadow: none !important;
         font-family:$proxima-font-family;
         font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1px;
        text-align: right;

        @media screen and (max-width: $break-small) {
           text-align: center;
        }
      }

      .newsletter {
          margin-top: 0px;

          .sv_button {
             @media screen and (max-width: $break-small) {
                width: 75%;
                margin: auto;
             }
          }
      }

      input[type="text"] {
         width: 90%;
         color: palette(white);
         text-transform: uppercase;

         ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
             color:    #909;
         }
         :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #909;
            opacity:  1;
         }
         ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #909;
            opacity:  1;
         }
         :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:    #909;
         }

         @media screen and (max-width: $break-small) {
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
         }
      }
}
