//silouhette section homepage

.silouhette {

   &.white {
      background-image: none;
      background-color: white;
      min-height: 30vh;
      padding-top: 4%;

      @media screen and (max-width: $break-small) {
         padding-top: 25px;
      }

      .silouhette__darkcopy {
         height: auto;
         padding-bottom: 0;
      }

      .silouhette__divider {
         border-top: 1px solid palette(brown);
		 cursor: pointer;

         i {
            color: palette(blue);
         }
      }
   }

   &.grey {
      background-image: none;
      background-color: palette(brown);
      min-height: auto;

      .silouhette__darkcopy {
         height: auto;
         padding-bottom: 3%;
         margin-top: 4%;

         @media screen and (max-width: $break-small) {
            margin-top: 25px;
         }
      }
   }


   .silouhette_bg {
      background: palette(green) url(../img/silouhette.jpg) bottom center no-repeat;
      background-size: 100%;
      padding-top: 60px;
      width: 100%;

      @media screen and (max-width: $break-large) {
         background-position: 0 0;
      }

      @media screen and (max-width: $break-medium) {
         background: palette(green) url(../img/silouhette_mobile.jpg) top center no-repeat;
         background-position: 0px 85%;
         background-size: 100%;
      }

      @media screen and (max-width: $break-small) {
         background-position: 0px 0px;
         background-size: 125%;
      }
   }


   h2 {
      text-transform: uppercase;
   }


   &__lightcopy {

      h2, p {
         color: palette(white);
         text-align: center;
      }
   }

   &__divider {
      border-top: 1px solid palette(green);
      padding: 30px 0 0;
      text-align: center;
      width: 100%;
      margin-top: 30px;
	  cursor: pointer;

      i {
         color: white;
      }

      p {
         font-family:$proxima-font-family;
         text-transform: uppercase;
         font-weight: bold;
         letter-spacing: 1px;
      }
   }
  
  .padded-top-for-phone {
	@media screen and (max-width: $break-medium) {
	  padding-top: 25px;
	}
  }

}


.silouhette .silouhette__darkcopy {

   height: auto;
   padding-bottom: 100px;

   @media screen and (max-width: $break-medium) {
      padding-bottom: 100px;
   }

   @media screen and (max-width: $break-small) {
      padding-bottom: 100px;
   }

   h2, p {
      color: palette(blue);
      text-align: center;
   }

   p {
      font-size: 1.2rem;
   }
}
