//sv video - top video portion on programme pages

.svvideo {

   &__wrapper {
      margin-top: 0;
      height: 100%;
      position: absolute;
      z-index: 9;
      top: 0px;
      left: 0;
      width: 100%;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e141a+0,000000+100&amp;0.8+0,0+73 */
        background: -moz-linear-gradient(-45deg,  rgba(14,20,26,0.8) 0%, rgba(4,5,7,0) 73%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(14,20,26,0.8) 0%,rgba(4,5,7,0) 73%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(14,20,26,0.8) 0%,rgba(4,5,7,0) 73%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0e141a', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


      }

      .floating_text {

         p {
            font-family: $proxima-font-family;
            color: palette(white);
            font-size: 2.3rem;
            line-height: 3rem;
            font-weight: bold;

            @media screen and (max-width: $break-medium) {
               font-size: 1.8rem;
               line-height: 2.4rem;
            }

            @media screen and (max-width: $break-small) {
               font-size: 1.4rem;
               line-height: 2rem;
            }


         }

        line-height: 1.3;
        padding: 2px 0;
        width: 100%;
        margin: 10% 0;

        @media screen and (max-width: $break-small) {
           margin: 4% 0;
        }

      p {
           padding: 4px 0;
           color: #fff;
           display: inline;
           margin: 0;
         }

         p strong {
           position: relative;
         }

      }

      @media screen and (max-width: $break-small) {
         position: relative;
         height: auto;
         margin: 0px;
         left: 0px;

         &:before {
            background: palette(blue, dark);
         }
      }
   }

   &__container {
      background-color: palette(white);
      width: 450px;
      height: 400px;
      float: left;
      border-radius: 5px;

      @media screen and (max-width: $break-small) {
         border-radius: 0;
         width: 100%;
         height: auto;
         background-color: palette(grey, light);
      }

      &--header {
         height: 80px;
         padding: 23px 40px;

         @media screen and (max-width: $break-small) {
               padding: 23px 0px;
         }

         font-size: 1.7rem;
         font-weight: bold;
         text-transform: uppercase;
         font-family:$proxima-font-family;
         background-color: palette(grey);
         color: palette(blue, dark);
         -webkit-border-top-left-radius: 5px;
         -webkit-border-top-right-radius: 5px;
         -moz-border-radius-topleft: 5px;
         -moz-border-radius-topright: 5px;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
         position: relative;


         @media screen and (max-width: $break-small) {
            border-radius: 0;
            text-align: center;
         }
      }

      &--content {
         padding: 35px 40px;

         p {
            font-size: 1.1rem;
         }

         a {
            color: palette(red);
            font-weight: bold;
         }
      }

      &--view {
         height: 50px;
         width: 50px;
         border-radius: 50%;
         background-color: palette(red);
         padding: 4px 10px;
         right: -25px;
         position: absolute;
         top: 16px;

         @media screen and (max-width: $break-small) {
            display: none;
         }

         img {
            height: 44px;
            position: absolute;
            left: -20px;
         }


         i {
            color: white;
            font-size: 1.3rem;
         }
      }

      .fa-angle-right {
         float: none;
         font-size: 0.8rem;
      }

   }

}

.homevideo {

   background: url(../img/video_placeholder.jpg);
   background-size: cover;
   position: relative;
   display: inline-block;
   position: relative;
   width: 100%;
   background-position-x: 43%;
   background-position: 43% 0;

   &:after {
     padding-top: 56.25%;
     /* 16:9 ratio */
     display: block;
     content: '';
   }

   &__player {

      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      &--playbtn {
         height: 100px;
         width: 100px;
         border-radius: 50%;
         background-color: rgba(0, 0, 0, 0.3);
         border: 4px solid palette(green, light);
         top: 40%;
         left: 50%;
         margin-left: -50px;
         position: absolute;
         z-index: 9;
         cursor: pointer;
         -ms-transform: scale(1.05); /* IE 9 */
         -webkit-transform: scale(1.05); /* Safari */
         transform: scale(1.05);
         transition: 0.2s ease-in-out;
         opacity: 0.8;

         @media screen and (max-width: $break-small) {
             top: 28%;
         }

         i {
            font-size: 3.5rem;
            color: palette(green, light);
            text-align: center;
            width: 100%;
            padding-top: 18px;

            @media screen and (max-width: $break-small) {
               padding-top: 22px;
            }
         }

         &:hover {
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1); /* Safari */
            transform: scale(1);
            opacity: 1;
         }
      }

   }

}
