.temp-banner {
    height: auto;
    padding: 40px;
    background: palette(pink) url(../img/newsletter_signup.jpg) top center no-repeat;
    background-size: cover;
    
    @media all and (max-width: 650px) {
        padding: 40px 0;
    }
    
    &__text {
        text-align: center;
        color: white;
        font-size: 1rem;
        letter-spacing: 1px;
        font-family: "proxima-nova-soft", Helvetica, Roboto, Arial, sans-serif;
        
        > p {
            margin-bottom: 0;
            padding: 0 10%;
            
                @media all and (max-width: 650px) {
                    padding: 0 30px;
                }
        }
    }
}