//title styles


.title {

   &__wrapper {
      width: 100%;
      margin-top: 40px;
   }

   &__container {

	   @media screen and (min-width: $break-small) {
		   min-width: 600px;
	   }

      h1 {
         text-transform: uppercase;
         color:palette(green, light);
         font-family:$proxima-font-family;
         text-align: center;
         margin-bottom: 30px;
   }

      h2 {
         font-family: $body-font-family;
         color:palette(white);
         font-size: 1.1rem;
         font-weight: normal;
         text-align: center;
          margin: 0 20%;

         @media screen and (max-width: $break-small) {
            display: none;
         }
      }

   }

}

.headertype__fullbleed {

   .buttons {
      margin-top: 20px;

      @media screen and (max-width: $break-small) {
         margin-top: 0px;

         .sv_button {
            width: 75%;
            margin: 20px auto 0px;
         }
      }
   }

   .title__container h1 {
      text-align: left;
      color: white;
      text-transform: none;
      line-height: 3.5rem;

      @media screen and (max-width: $break-small) {
         line-height: initial;
         margin-top: 40vh;
         margin-bottom: 0px;
      }

      span.lightgreen {
         color:palette(green, light);
      }
   }

}
