//view overlay
.viewoverlay {

   height: 30%;
    width: 30%;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -15%;
    z-index: 9;
    border-radius: 50%;
    top: 15%;
   margin-top: 7px;
   opacity: 0;

   &::before {
      display: none;
   }

   i {
      color: palette(white);
      font-size: 2rem;
      padding: 30% 26%;
   }

}

.casestudies {

   .viewoverlay {


         height: 40%;
          width: 40%;
          display: block;
          position: absolute;
          left: 50%;
          margin-left: -20%;
          z-index: 9;
          border-radius: 50%;
          top: 30%;


         i {

            font-size: 2rem;
            padding: 25% 21%;

         }

   }

}

.viewoverlaybg {
   background-color: palette(blue, dark);
   height: 100%;
   width: 100%;
   display: block;
   position: absolute;
   top: 0px;
}
