//standing voices page

.voicesblocks {

   &__grid {

      &--voice {
         height: auto;
         width: 20%;
         background-color: palette(blue, dark);
         display: inline-block;
         margin-right: -4px;
         vertical-align: top;
         overflow: hidden;
         position: relative;
         cursor: pointer;


         @media screen and (max-width: $break-medium) {
            width: 33.3333%;
         }

         @media screen and (max-width: $break-small) {
            width: 100%;
         }

         img {
            cursor: pointer;
         }
      }

   }

}


.voice {

   &__image {
      height: 155px;
      width: 155px;
      border-radius: 50%;
      overflow: hidden;
      margin: 80px auto 20px;
   }

   &__title {

      h1 {
         color: palette(green, light);
         text-transform: uppercase;
         width: 100%;
         text-align: center;
         font-size: 1.8rem;
      }

      h2 {
         color: palette(white);
         text-transform: uppercase;
         width: 100%;
         text-align: center;
         font-size: 0.9rem;
         text-transform: none;
         font-family: $body-font-family;
         font-weight: normal;
      }

   }

   &__content {
      padding: 70px 0px;
   }

   &__gallery {
      padding: 20px 0px 30px;

      &--image {
         overflow: hidden;
         border-radius: 2px;
      }

      .large-4 {
         .voice__gallery--image {

            &:last-child {
               margin-top: 20px;
            }
         }
      }
   }

}

.questionmark {
   height: 60px;
   width: 60px;
   display: block;
   margin: auto;
   font-size: 3.5rem;
   color: palette(white);
   border: 3px solid palette(white);
   border-radius: 50%;
   font-family:$proxima-font-family;
   text-align: center;
   font-size: 3rem;
   line-height: 3.7rem;
   font-weight: bold;
   margin-bottom: 20px;
}
